{% extends "./layouts/broadcast.njk" %}

{% block body %}
<p class="lead">Angaben zur Bio-Zertifizierung im Ernte Teilen-Profil</p>
<spacer size="16"></spacer>
<p>
Liebe:r Nutzer:in der Karte ernte-teilen.org,
<br><br>

bislang konntet ihr für euren Solawi-Betrieb das Feld "Dieser Betrieb wirtschaftet ökologisch" auswählen. Viele Solawis haben diese Option gewählt auch wenn sie keine Bio-Zertifizierung besitzen. Da der Begriff "ökologisch" jedoch geschützt ist, haben wir uns dazu entschieden, diese Option zu entfernen und stattdessen die neue Option "Dieser Betrieb ist bio-zertifiziert" einzuführen, da sie eindeutiger ist.
<br><br>
Wenn ihr eine Bio-Zertifizierung besitzt, meldet euch bitte über euer Nutzerkonto an und wählt die neue Option erneut an:
<br><br>
<button href="https://ernte-teilen.org/karte/#/users/sign-in" target="_blank">Daten aktualisieren</button>
<br><br><br>
Auf dieser Seite findet ihr auch den Link "Passwort vergessen?", falls benötigt.
<br><br>
Bei Fragen meldet euch gerne unter: <a href="mailto:ernteteilen@solidarische-landwirtschaft.org">ernteteilen@solidarische-landwirtschaft.org</a>
<br><br>
Vielen Dank,
<br>
Euer Netzwerk Solidarische Landwirtschaft e.V.
</p>
<spacer size="16"></spacer>
{% endblock %}


