<div class="row">
  <div class="six columns">

    <label for="geocoder-city">Stadt</label>
    <input type="text" id="geocoder-city"/>

    <label for="geocoder-address">Straße und Hausnummer</label>
    <input type="text" id="geocoder-address"/>

    <a class="small button preview-button">Ort auf Karte anzeigen</a>
  </div>
  <div class="preview-map six columns">
    <img src="/assets/marker-depot.png" class="preview-marker leaflet-marker-icon" />
  </div>
</div>
