- content_for :header do
  = render 'layouts/header-static'

#contactform.row
  %h2.twelve.columns Kontakt
  = render 'form'

  .four.columns
    %p
      Lorem Ipsum dolor sit amet.
      Lorem Ipsum dolor sit amet.
      Lorem Ipsum dolor sit amet.
      Lorem Ipsum dolor sit amet.
      Lorem Ipsum dolor sit amet.
      Lorem Ipsum dolor sit amet.
      Lorem Ipsum dolor sit amet.

    %p
      Amet dolor sit Amet.

    %p
      Ernte teilen
      <br/>c/o Simon Jockers

    %p
      Ueckermünder Str. 6
      <br/>10439 Berlin
