- content_for :header do
  = render 'layouts/header-static'

#contactform.row
  %h2.twelve.columns Kontakt
  = render 'form'

  .four.columns

    %p
      Falls du Fragen und Feedback zu
      %em Ernte teilen
      hast, kannst du 端ber dieses Formular Kontakt mit uns aufnehmen.

    %p
      %em Ernte teilen
      befindet sich momentan in einer fr端hen Testphase. Einige Funktionen und Inhalte stehen noch nicht zur Verf端gung.

    %p
      %strong Ernte teilen
      <br/>c/o Simon Jockers

    %p
      Ueckerm端nder Str. 6
      <br/>10439 Berlin
