<div class="row">
    [: if not (or .APIs .Guide) :] <!-- .APIs .NavigationGuides -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main"> 
    [: else :]
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        [: template "fragments/sidenav" . :] 
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 main">
    [: end :]
        [: yield :]
    </div>
</div>
