.details {
  @include container;
  position: relative;
  z-index: 1;
  pointer-events: none;
  padding: 90px 0;
  font-size: .9em;

  h1 {
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding-right: .3em;
    color: $charcoal;
  }

  h4 {
    margin: 20px 0 10px 0;
  }

  article {
    padding: 25px;
    background: $white;
    margin: 0 20px;
    box-shadow: 3px 3px 10px rgba(black, 0.3);
    pointer-events: auto;

    @include susy-breakpoint($tablet) {
      margin: 0 35% 0 25px;
    }
  }

  header {
    overflow: hidden;
    border-bottom: 5px solid $lightGrey;
    padding: 10px 0;
    margin-bottom: 15px;
  }

  footer {
    clear: both;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 5px solid $lightGrey;
    text-align: right;
    color: $grey;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
  }

  .details-back {
    display: block;
    padding: 10px 25px;
    margin: 1px 20px;
    background: $white;
    box-shadow: 3px 3px 10px rgba(black, 0.3);
    pointer-events: auto;
    text-decoration: none;

    @include susy-breakpoint($tablet) {
      margin: 0 35% 1px 25px;
    }

    &:before {
      content: '← ';
    }
  }

  .edit {
    position: absolute;
    right: 3.5em;
    top: 1.2em;
  }

  .membership-availability {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 25px 10px 0;
    color: white;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(black, 0.2);

    &.yes {
      background: $darkGreen;
    }

    &.no {
      background: $orange;
    }

    &.waitlist {
      background: $red;
    }
  }

  .profile-picture {
    max-width: 100%;
  }

  @include susy-breakpoint($tablet) {
    padding: 120px 0;

    .profile-picture {
      float: right;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

  @include susy-breakpoint($desktop) {
    .membership-availability {
      position: relative;
      bottom: 5px;
    }
  }

  .submit {
    float: right;
    margin: 20px 0;
  }
}

.details-meta {
  color: $grey;
}
