.entries-list {
  position: relative;
  padding: 120px 0;
  background: $white;
}

.entries-list-name {
  @include span(6);

  h2 {
    padding-top: 0;
  }
}

.entries-list-item {
  border-top: 1px solid $lightGray;
  overflow: hidden;
  padding: $gutter-width 0;
}

.entries-list-icon {
  margin-top: 10px;
}

.entries-list-controls {
  list-style: none;
  margin: $gutter-width 0;
  padding: 0;

  li {
    display: inline-block;
    padding-left: 5px;

    &:before {
      content: "|";
      padding-right: 5px;
    }
    &:first-child:before {
      display: none;
    }
  }
}
