@import "../variables.scss";
@import "~susy/sass/susy";

.entry-view {
  padding: 20px 0;
  position: relative;
  z-index: 3;

  section {
    position: relative;
    padding: 25px;
    background: $white;
    box-shadow: 3px 3px 10px rgba(black, 0.3);
  }
}

.select2-container {
  width: 100% !important;
  display: block;
}

.select2-search-choice {
  line-height: 1.1em !important;
}

.forms .fileupload label {
  // hide the top-level label
  display: none;
}

.upload-button {
  position: relative;

  input {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
  }
}

.fileupload-preview .progress .meter {
  // initial progress bar width
  width: 0px;
}

.fileupload-controls {
  width: 50%;
  display: inline-block;
}

.fileupload-preview {
  width: 48%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  float: right;
  img {
    width: 400px;
    height: 300px;
  }
}

.forms .geocoder {
  width: 100%;

  label {
    // hide the top-level label
    display: none;
  }

  .geocoder-controls {
    width: 50%;
    display: inline-block;

    label {
      display: block;
    }

    .explanation {
      color: gray;
      margin-top: 20px;
    }
  }

}

.preview-map {
  @include span(last 6);
  position: relative;
  overflow: hidden;
  float: right;
  height: 240px;
  background: $lightGray;
  background-position: center;

  .alert {
    margin: 20px;
    display: none;
  }
}

.preview-marker {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 47px;
  height: 57px;
  margin-left: -25px;
  margin-top: -57px;
  display: none;
}

.entrylist {
  position: relative;
  padding: 25px;
  margin: 25px 0 75px 0;
  background: $white;
  box-shadow: 3px 3px 10px rgba(black, 0.3);
}

#entrylist {
  padding-top: 30px;

}

.entrylist-name {
  @include span(6);

  h2 {
    padding-top: 0;
  }
}

.entrylist-item {
  border-top: 1px solid $lightGray;
  overflow: hidden;
  padding: 20px 0;
}

.entrylist-icon {
  margin-top: 10px;
}

.entrylist-controls {
  list-style: none;
  margin: 10px 0 0 -5px;
  padding: 0;

  li {
    display: inline-block;
    padding-left: 5px;

    &:before {
      content: "|";
      padding-right: 5px;
    }
    &:first-child:before {
      content: none;
    }
  }
}

.data-block {
  label {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
  }

  input {
    display: inline-block;
    margin-right: 10px;
  }

  .data-desc {
    padding-bottom: 20px;
    font-style: italic;
  }
}

.data-block.radios,
.data-block.checkboxes {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    margin: 0;
    padding: 0;

    label {
      font-weight: normal;
    }
  }
}

#delete-entry-buttons {
  overflow: hidden;

  a {
    float: right;
    margin-left: 20px;
  }
}

#new-entry-my-entries {
  float: right;
  margin-top: -30px;
}

.legend {
  p {
    font-style: italic;
  }
}

#wizard-navigation {
  padding: 20px 0;

  li {
    display: inline;
    float: right;
    margin-left: 10px;
  }
}

[data-error] {
  padding: 0 0 10px 0;
  color: $red;
  font-weight: bold;
}
