.onboarding {
  font-size: 1.2rem;

  @include susy-breakpoint($tablet) {
    min-height: 100vh;
    background-image: linear-gradient(to right, $white, $white 51%, $beige 51%);

    h2 {
      font-size: 1.8rem;
    }
  }
}

.onboarding-intro {
  @include bleed(0 $gutter-width);
  padding: $gutter-width;

  @include susy-breakpoint($mobile) {
    background: $beige;
    padding-top: 100px;
  }

  @include susy-breakpoint($tablet) {
    @include span(6);
    padding-top: 120px;
  }
}

.onboarding-form {

  h2 {
    color: $darkGreen;
  }

  form {
    padding: 1em 0;
  }

  @include susy-breakpoint($tablet) {
    @include span(6);
    padding: 120px $gutter-width*2;
  }
}
