.onboarding {
  font-size: 1.2rem;

  @include susy-breakpoint($tablet) {
    min-height: 100vh;
    background-image: linear-gradient(to right, $white, $white 49%, $beige 49%);

    h2 {
      font-size: 1.6rem;
    }
  }
}

.onboarding-intro {
  @include bleed(0 $gutter-width);

  @include susy-breakpoint($mobile) {
    background: $beige;
    padding-top: 100px;
  }

  @include susy-breakpoint($tablet) {
    @include span(50%);
    padding-top: 120px;

    p {
      padding-right: $gutter-width;
    }
  }
}

.onboarding-form {

  h2 {
    color: $darkGreen;
  }

  form {
    padding: 0 $gutter-width;
  }

  @include susy-breakpoint($tablet) {
    @include span(50%);
    padding-top: 120px;
  }
}
