.onboarding {
  font-size: 1.2rem;

  @include susy-breakpoint($tablet) {
    min-height: 100vh;
    background-image: linear-gradient(to right, $beige, $beige 49%, $white 49%);

    h2 {
      font-size: 2rem;
    }
  }
}

.onboarding-intro {
  @include bleed(0 $gutter-width);
  padding: $gutter-width;

  h2 {
    color: $darkGreen;
  }

  @include susy-breakpoint($mobile) {
    background: $beige;
    padding-top: 100px;
  }

  @include susy-breakpoint($tablet) {
    @include span(6);
    padding-top: 120px;
  }
}

.onboarding-form {

  @include susy-breakpoint($tablet) {
    @include span(6);
    padding: 120px $gutter-width;
  }
}
