.search {
  display: inline-block;
  pointer-events: auto;
  @extend .icon, .ss-search;

  &:before {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 1.1em;
  }
}

.search-input {
  width: 280px;
  height: 62px;
  padding: 20px 20px 20px 50px;
  background: $white;
  border: 1px solid rgba($black, .5);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba($black, .5);
  transition: width 300ms;

  @include susy-breakpoint($tablet) {
    &:focus {
      width: 380px;
    }
  }
}

.search-menu {
  position: fixed;
  max-height: 50%;
  overflow: auto;
  padding: 0;
  background: rgba(white, 0.9);
  box-shadow: 0 1px 5px rgba($black, .5);
  border-radius: 3px;
  font-size: .8em;
  z-index: 1;
}

.search-result {
  display: block;
  width: 380px;
  padding: 5px;
}

.search-result-farm {
  @extend .icon, .ss-carrot;
}

.search-result-depot {
  @extend .icon, .ss-basket;
}

.search-result-location {
  @extend .icon, .ss-location;
}

.search-result-active {
  background: $lightGray;
}
