// TODO: Move entries navigation into a separate component
// Figure out how to handle this on mobile

.user-nav {
  z-index: 10;
  position: relative;
}

.user-nav-account a {
  @extend .icon, .ss-settings;
}

.user-nav-signout a {
  @extend .icon, .ss-logout;
}

.user-nav-contact a {
  @extend .icon, .ss-mail;
}

.account-nav-toggle {
  @extend .icon, .ss-user;
}

.entries-nav-toggle {
  @extend .icon, .ss-plus;
}

@include susy-breakpoint($tablet) {

  .account-nav {
    top: 30px;
    z-index: 1000000;
  }

  .account-nav-toggle {
    display: block;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: rgba(darken($charcoal, 5), 0.55);
    color: $white;
    font-weight: bold;
    transition: background-color 0.2s;

    &:hover,
    &:focus {
      text-decoration: none;
      background: rgba(darken($charcoal, 5), 0.9);
    }
  }

  .entries-nav {
    top: 120px;
  }

  .entries-nav-toggle {
    display: block;
    min-width: 160px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: $orange;
    color: $white;
    font-weight: bold;
    transition: background-color 0.2s;
  }
}
