// TODO: Move entries navigation into a separate component
// Figure out how to handle this on mobile

.user-nav {
  z-index: 1000;
  position: relative;
}

.entries-nav-list {
  @extend .icon, .ss-list;
}

.entries-nav-new {
  @extend .icon, .ss-plus;
}

.entries-nav-toggle {
  @extend .icon, .ss-plus;
}


  .entries-nav {
    top: 120px;
  }
@include susy-breakpoint($tablet) {

  .entries-nav-toggle {
    display: block;
    min-width: 160px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: $orange;
    color: $white;
    font-weight: bold;
    transition: background-color 0.2s;
  }
}
