{
  "env": {
    "browser": true
  },
  "rules": {
    "space-before-function-paren": [2, "never"],
    "no-new": 0
  },
  "parser": "babel-eslint",
  "extends": "semistandard",
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "Backbone": true,
    "Marionette": true,
    "Entities": true,
    "Base": true,
    "I18n": true,
    "Alert": true,
    "Places": true,
    "MarkerIcon": true,
    "PlacesList": true,
    "L": true,
    "JST": true,
    "_": true,
    "Teikei": true,
    "User": true,
    "$": true,
    "editors": true
  },
  "plugins": [
    "react"
  ]
}
