{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "semistandard",
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "Backbone": true,
    "Marionette": true,
    "Entities": true,
    "Base": true,
    "I18n": true
  },
  "plugins": [
    "react"
  ]
}
