package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

packages/map-next/static/
packages/map-next/.svelte-kit
packages/map-next/test-results
packages/map-next/src/lib/paraglide
packages/map-next/project.inlang
