package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

packages/embed/static/
packages/embed/.svelte-kit
packages/embed/test-results
packages/embed/src/lib/paraglide
packages/embed/project.inlang

packages/map/playwright-report/
packages/map/test-results/
