language: node_js
node_js:
  - "10"
addons:
  postgresql: "9.6"
#addons:
#  postgresql: "10"
#  apt:
#    packages:
#    - postgresql-10
#    - postgresql-client-10
#env:
#  global:
#  - PGPORT=5433
before_script:
  - cp .env.travis api/.env && cp .env.travis map/.env
  - cd api && yarn test:init && cd ..
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.9.2
  - export PATH="$HOME/.yarn/bin:$PATH"
jobs:
  include:
    - stage: test
      name: "API"
      script: cd api && yarn test
    - name: "Migrations"
      script: cd migrations && yarn test
    - name: "Schemas"
      script: cd schemas && yarn test
    - name: "Map"
      script: cd map && yarn test
    - name: "Admin"
      script: cd admin && yarn test
    - stage: deploy
      name: "Deployment"
      script:
      - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
      - echo build is on branch $BRANCH
      - if [ "$BRANCH" != "master" ] ; then echo "branch is not master, not deploying" ; exit 0 ;  fi
      - echo 'deployment'
notifications:
  slack: ernteteilen:0QwBhQegAchwMOPjhLdqwtNm
