[: template "fragments/reference/version_header" . :]

[: overlay "banner" . :]
[: overlay "description" . :]

[: template "fragments/reference/api-body" (ext . "SpecPath" $.SpecPath) :]

[: overlay "additional" . :]
