[: overlay "banner" . :]

<div class="page-header">
<h1 class="nomargin">[: .Info.Title :] reference</h1>
</div>

[: overlay "description" . :]

<!-- List all API endpoints -->
[: template "fragments/reference/list_endpoints" . :]

[: overlay "additional" . :]
