<div>
  <dl class="tabs">
    <dd class="active">
      <a href="#consumers" id="consumers-tab">Neue Abholstelle eintragen</a>
    </dd>
    <dd>
      <a href="#farmers" id="farmers-tab">Neuen Betrieb eintragen</a>
    </dd>
  </dl>
  <ul class="tabs-content">
    <li class="active" id="consumers">


Odio aenean, placerat diam phasellus lorem nec magna in sit risus pid, etiam risus turpis, mid ut ridiculus. Parturient, sed nascetur? Hac, mauris aliquam? Duis rhoncus pulvinar, penatibus dignissim porta.<br />
<br />
Nisi porttitor, porttitor augue lundium, adipiscing vel dictumst magna natoque ultrices, augue eros, ut! Montes mid scelerisque, et magna sed placerat parturient a, porttitor pulvinar amet est! Porta nunc.<br />
<br />
Tincidunt? Vel, scelerisque vel amet sociis ultrices amet, dapibus. Augue ac? Tortor adipiscing? Magna arcu, eros nisi a dictumst augue eros a pellentesque porta, aliquam magna ultrices! In in.


    </li>
    <li id="farmers">


Tortor, facilisis? Vut mattis, ac! Turpis risus pulvinar, placerat, ut? Pid magna rhoncus ut, dignissim pid pid porta. Platea! Tincidunt et, vel sed, urna aliquet. Turpis mauris sed pellentesque.<br />
<br />
Et platea amet ac, adipiscing, turpis lectus porta ac. Sociis amet aenean ac in! Lundium, ridiculus adipiscing non mus, dictumst, pellentesque egestas! Penatibus? Nec cum placerat? Dis porta diam.


    </li>
  </ul>
  <a class="close-reveal-modal">×</a>
</div>
