<div class="participate">

  <dl class="tabs">
    <dd class="active">
      <a href="#info/1" id="info-1-tab">So funktioniert's</a>
    </dd>
    <dd>
      <a href="#info/2" id="info-2-tab">5 Gründe für Solidarische Landwirtschaft</a>
    </dd>
  </dl>

  <ul class="tabs-content">
    <li class="active" id="info-1">

      <p><strong>Ernte teilen</strong> verzeichnet Betriebe, die <em>Solidarische Landwirtschaft</em> betreiben und die Verbrauchergruppen, an die sie ihre Ernte liefern.</p>

      <figure>
        <img src="/assets/legend-farm.png" title="Kartensymbol für einen Betrieb" alt="Kartensymbol für einen Betrieb" />

        <figcaption>
          Dieses Symbol kennzeichnet <strong>Landwirtschaftliche Betriebe</strong>, die das Modell der Solidarischen Landwirtschaft umsetzen. Jeder dieser Betriebe erzeugt Lebensmittel für einen festen Kreis von Mitgliedern, die über einen regelmäßigen Beitrag an den Betrieben beteiligt sind.
        </figcaption>
      </figure>

      <figure>
        <img src="/assets/legend-depot.png" title="Kartensymbol für ein Depot" alt="Kartensymbol für ein Depot" />

        <figcaption>
          Dieses Symbol kennzeichnet die <strong>Depots</strong>, die von den Landwirten beliefert werden. Hier treffen sich die Mitglieder der Verbrauchergruppen, um ihre Lebensmittellieferungen in Empfang zu nehmen.
        </figcaption>
      </figure>

      <hr/>

      <p>Du bist Gärtner oder Landwirt und suchst du einen festen Kreis von Abnehmern für die Lebensmittel, die du produzierst? Ein Eintrag auf <strong>Ernte teilen</strong> kann dir helfen, diese Abnehmer zu finden!</p>

      <p><a id="participate-signup" href="#">Melde dich an</a>, um deinen Betrieb und deine Depots auf der Karte zu verzeichnen.</p>
    </li>
    <li id="info-2">
      <ol>
        <li><strong>Regionale Lebensmittel:</strong> Verbraucher erhalten frische und hochwertige Lebensmittel direkt aus der Region. Dabei bekommen sie Einblicke, wie ihre Lebensmittel entstehen und können den Anbau selbst mitgestalten. </li>

        <li><strong>Sicherheit für den Landwirt:</strong> Der Landwirt produziert nicht mehr für den Markt, sondern für einen festen Kreis an Verbrauchern. Diese verpflichten sich für ein Wirtschaftsjahr, einen festen Betrag an den Landwirt zu zahlen und unterstützen ihn bei der Arbeit.  Alle teilen sich die mit der Landwirtschaft verbundene Verantwortung: die Kosten, das Risiko und die Ernte. </li>

        <li><strong>Ökologische Vorteile:</strong> Der regionale Bezug von Lebensmittel zeichnet sich durch kurze Transportwege aus. Da der Landwirt für eine feste Verbraucherzahl produziert, werden kaum Lebensmittel verschwendet. Auch der Verpackungmüll wird reduziert, da die Lebensmittel unverpackt zum Verbraucher gelangen. </li>

        <li><strong>Erhaltung des ländlichen Raums:</strong> Durch regionale Versorgungsstrukturen kann der ländliche Raum als Lebens- und Arbeitsraum erhalten werden. Eine lebendige und vielflältige Landwirtschaft tut den Menschen, Tieren und Böden gut und kann insgesamt die Region stärken. </li>

        <li><strong>Gemeinschaft, Erfahrung, Bildung:</strong> Die Teilnahme an einer Versorgergemeinschaft ermöglicht es, eine Gruppe an interessanten Menschen kennenzulernen, Wissen über den Anbau von Lebenmitteln zu erwerben und selbst auf dem Acker mithelfen zu können. </li>
      </ol>
    </li>
  </ul>
  <a class="close-reveal-modal">×</a>
</div>
