header {
  height: 125px;
  width: 100%;
  position: relative;
  z-index: 20;
  top: 0;
  border-top: 5px solid $highlightColor;
  padding: 0 80px;

  .brand {
    position: relative;
    margin-top: 15px;
    @extend .columns;

    h1 {
      position: relative;
      display: inline-block;
      margin: 0;
      color: #444;
      font-size: 35px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -55px;
        top: 8px;
        width: 55px;
        height: 55px;
        background: url("navigation-logo.png") no-repeat;
      }
    }
  }

  .description {
    padding-top: 8px;
    color: $blue;
    line-height: 1.4;
    font-weight: bold;
  }

  .row {
    position: relative;
    z-index: 80;
  }

  .site-menu {
    position: absolute;
    top: -3px;
    right: 350px;
    color: $txtColor;
    font-size: 14px;
    padding: 1px 10px;

    li {
      display: inline;
      list-style: none;

      &:last-child:after {
        padding-left: 10px;
        padding-right: 10px;
        content: "|";
      }
    }

  }

  .user-name {
    position: absolute;
    top: -3px;
    right: 220px;
    color: $txtColor;
    font-size: 14px;
    padding: 1px 10px;
    display:none;

    li {
      display: inline;
      list-style: none;
    }

    &:first-child li,
    &:first-child li:hover {
      @extend .icon, .ss-user;

      &:before {
        padding-right: 5px;
      }
    }


  }

  .user-menu {
    @include border-radius(3px);
    position: absolute;
    top: -3px;
    right: 20px;
    background: $green;
    padding: 1px 10px;
    color: $white;

    li {
      display: inline;
      list-style: none;

      a {
        color: $white;
        font-size: 14px;

        &:hover b {
          text-decoration: underline;
        }
      }

      &:last-child:before {
        content: " / ";
      }
    }
  }

  .action-menu {
    position: absolute;
    right: 20px;
    top: 63px;

    li {
      float: left;
      margin: 0;
      list-style: none;
    }
  }
}
