#mega-drop {
  @include box-shadow(0 2px 2px rgba(black, 0.2));
  position: relative;
  z-index: 1000;

  h2 {
    font-size: 1.4em;
    line-height: 1.6em;
    margin-top: 0;
  }

  h3 {
    font-size: 1em;
    line-height: 1.6em;
    margin: 0;
  }

  figure {
    position: relative;
    top: -5px;
    border: 5px solid #dadada;

    img {
      display: block;
    }
  }

  ul {
    padding-left: 1.2em;
    list-style-position: outside;

    &.call-to-action {
      list-style: none;
      padding: 0;
      font-weight: bold;

      a {
        @extend .icon, .ss-right;
        text-decoration: none;

        &:hover b {
          text-decoration: underline;
        };
      }

      b {
        margin-left: .2em;
      }
    }
  }

  figcaption {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: $white;
    background: rgba($black, 0.4);
    font-size: .85em;
    line-height: 1.3;
    font-weight: bold;

    small {
      display: block;
      font-size: 1em;
      color: #dadada;
    }
  }

  .description {
    @extend .six, .column;
    line-height: 1.4;
    font-weight: bold;
    color: $blue;
    margin: 0;
    position: relative;
    top: -22px;
  }

  .toggle {
    cursor: pointer;
    display: inline-block;
    background: #e7e7e7;
    color: $blue;
    padding: 1px 5px;
    font-size: 14px;
    @include border-radius(3px);
    @extend .icon, .ss-plus;

    &.open {
      @extend .ss-hyphen
    }
  }

  .slider {
    display: none;
    background: #efefef;

    .row {
      padding-top: 20px;
    }
  }
}
