header {
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  border-top: 5px solid $highlightColor;

  .brand {
    display: inline-block;
    position: relative;
    left: 15px;
    top: 15px;

    h1 {
      position: relative;
      display: inline-block;
      margin: 0;
      color: #444;
      font-size: 35px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -55px;
        top: 12px;
        width: 55px;
        height: 55px;
        background: url("navigation-logo.png") no-repeat;
      }
    }
  }

  .row {
    position: relative;
    z-index: 80;
  }

  .user-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  .action-menu {
    position: absolute;
    right: 0;
    bottom: -50px;

    li {
      float: left;
      margin: 0;
      list-style: none;
    }
  }
}
