<ul class="nav navbar-nav navbar-right">
  [: if $.MultipleSpecs :]
  <li>
    <a href="/"><span class="glyphicon glyphicon-th-list" style="padding-right: 21px;"></span>All APIs</a>
  </li>
  [: end :]
  <!--
  <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
  <li><a href="/signin"><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
  -->
</ul>
