<h2 class="headline"></h2>
<h3>Schritt 3 von 4</h3>
<fieldset>
  <legend>Mitgliedschaft</legend>
  <div class="required data-block radios" data-fields="accepts_new_members"></div>
  <div class="data-block">
    <div class="required data-field" data-fields="maximum_members"></div>
    <div class="data-desc">Wieviele Esser kann der Betrieb versorgen?</div>
  </div>
  <div class="data-block">
    <div class="required data-field" data-fields="participation"></div>
    <div class="data-desc">Mitglieder können beispielsweise an regelmäßigen Mitmachtagen bei der Gartenarbeit helfen.</div>
  </div>
</fieldset>

