<h2 class="headline"></h2>
<h3>Schritt 1 von 4</h3>
<fieldset>
  <legend>Name und Adresse</legend>
  <div data-fields="name"></div>
  <div class="address" data-fields="address"></div>
  <div class="city" data-fields="city"></div>
  <button class="preview">Vorschau</button>
  <div class="preview-map">
    <img class="preview-image" />
    <span class="preview-marker" />
  </div>
</fieldset>
