<hgroup>
  <h2 class="headline"></h2>
  <h3>Schritt 2 von 2</h3>
</hgroup>
<fieldset>
  <legend>Ansprechpartner</legend>
  <div data-fields="contact_name"></div>
  <div data-fields="contact_email"></div>
  <div data-fields="contact_phone"></div>
</fieldset>
