<h2 class="headline"></h2>
<h3>Schritt 1 von 4</h3>
<fieldset>
  <div class="twelve columns" data-fields="name"></div>
  <legend>Name und Adresse</legend>
    <div class="six columns">
      <div class="address" data-fields="address"></div>
      <div class="city" data-fields="city"></div>
    </div>
    <div class="preview-map six columns">
      <img class="preview-image" src="/assets/preview-placeholder.png" />
      <span class="preview-marker" />
    </div>
</fieldset>

