<h2 class="headline"></h2>
<h3>Schritt 1 von 4</h3>

<fieldset>
  <legend>Name und Standort des Betriebs</legend>
  <div class="required data-block twelve columns" data-fields="name"></div>
</fieldset>

<fieldset>
  <legend>Webseite des Betriebs</legend>
  <div class="data-block" data-fields="url"></div>
</fieldset>

<fieldset class="geocoder">
  <legend>Standort des Betriebs</legend>
  <div data-fields="geocoder" class="required data-block"></div>
</fieldset>

<fieldset class="fileupload">
  <legend>Bild des Betriebes</legend>
  <div data-fields="image" class="data-block"></div>
</fieldset>
