<hgroup>
  <h2>Neuen Betrieb anlegen</h2>
  <h3>Schritt 3 von 4</h3>
</hgroup>
<fieldset>
  <legend>Mitgliedschaft</legend>
  <div data-fields="accepts_new_members"></div>
  <div data-fields="maximum_members"></div>
  <div data-fields="participation"></div>
</fieldset>

