<h2>Neuen Betrieb anlegen</h2>
<fieldset>
  <legend>Kontakt</legend>
  <div data-fields="contact_name"></div>
  <div data-fields="contact_function"></div>
  <div data-fields="contact_email"></div>
  <div data-fields="contact_url"></div>
  <div data-fields="contact_phone"></div>
</fieldset>
