<h2 class="headline"></h2>
<h3>Schritt 2 von 2</h3>
<fieldset>
  <legend>Ansprechpartner</legend>
  <div class="required" data-fields="contact_name"></div>
  <div class="required" data-fields="contact_email"></div>
  <div class="required" data-fields="contact_phone"></div>
</fieldset>
