<h2>Neue Gruppe anlegen</h2>
<fieldset>
  <legend>Name und Betrieb</legend>
  <div data-fields="name,farm"></div>
</fieldset>

<fieldset>
  <legend>Adresse der Abholstelle</legend>
  <div class="address" data-fields="address"></div>
  <div class="city" data-fields="city"></div>
  <button class="preview">Vorschau</button>
  <div class="preview-map">
    <img class="preview-image" />
    <span class="preview-marker" />
  </div>
</fieldset>
