<h2 class="headline"></h2>
<h3>Schritt 1 von 2</h3>
<fieldset>
  <legend>Name und Betrieb</legend>
  <div data-fields="name" class="required data-block"></div>
  <div data-fields="places" class="required data-block"></div>
</fieldset>

<div data-fields="geocoder" class="required data-block"></div>
