<h2 class="headline"></h2>
<h3>Schritt 3 von 4</h3>
<fieldset>
  <legend>Mitgliedschaft</legend>
  <div class="required data-block radios" data-fields="accepts_new_members"></div>
  <div class="required data-block" data-fields="maximum_members"></div>
  <div class="required data-block" data-fields="participation"></div>
</fieldset>

