<div data-fields="name,farm"></div>


<div class="city" data-fields="city"></div>
<div class="address" data-fields="address"></div>

<button class="preview">Vorschau</button>
<div class="preview-map">
  <img class="preview-image" />
  <span class="preview-marker" />
</div>
