<h2 class="headline"></h2>
<h3>Schritt 2 von 4</h3>
<fieldset>
  <legend>Details</legend>
  <div class="data-block" data-fields="description"></div>
  <div class="data-block checkboxes" data-fields="vegetable_products"></div>
  <div class="data-block checkboxes" data-fields="animal_products"></div>
  <div class="data-block checkboxes" data-fields="beverages"></div>
  <div class="data-block" data-fields="additional_product_information"></div>
  <div class="data-block" data-fields="founded_at_year"></div>
  <div class="data-block" data-fields="founded_at_month"></div>
  <div class="data-block" data-fields="acts_ecological"></div>
  <div class="data-block" data-fields="economical_behavior"></div>
</fieldset>
