<h2 class="headline"></h2>
<h3>Schritt 1 von 4</h3>
<fieldset>
  <div class="required data-block twelve columns" data-fields="name"></div>
  <legend>Name und Adresse</legend>
  <div class="six columns">
    <div class="required data-block address" data-fields="address"></div>
    <div class="required data-block city" data-fields="city"></div>
    <a class="small button preview-button">Vorschau</a>
  </div>
  <div class="preview-map six columns">
    <img src="/assets/marker-farm.png" class="preview-marker leaflet-marker-icon" />
  </div>
</fieldset>

