<h2 class="headline"></h2>
<h3>Schritt 2 von 2</h3>
<fieldset>
 <legend>Kontaktdaten</legend>
  Deine aktuellen Kontaktdaten sind:<br>
  <p> 
  Test<br>
  Email-Adresse: asdf@asdf.com<br>
  Telefon: 0170 13241234
  </p>
  <p class="explanation">
    Die Daten kannst du in den <a href="http://localhost:3000/users/edit" target="_blank">Benutzereinstellungen</a> anpassen.
  </p>

  <div class="data-block" data-fields="contact_by_email"></div>
  <div class="data-block" data-fields="contact_by_phone"></div>
  <div class="data-block" data-fields="contact_url"></div>
</fieldset>