<h2 class="headline"></h2>
<h3>Schritt 1 von 2</h3>

<fieldset>
  <legend>Name und Betrieb</legend>
  <div data-fields="name" class="required data-block"></div>
  <div data-fields="places" class="data-block"></div>
  <p class="explanation">
    Falls der Betrieb noch nicht in der Liste vorhanden ist,
    kannst du <a href="/#places/new/farm">ihn hier selbst eintragen</a>.
  </p>
</fieldset>

<fieldset class="geocoder">
    <legend>Standort des Depots</legend>
    <div data-fields="geocoder" class="required data-block"></div>
</fieldset>

<fieldset>
    <legend>Details</legend>
    <div class="data-block" data-fields="description"></div>
    <div data-fields="delivery_days" class=" data-block"></div>
</fieldset>


