<h2>Neuen Betrieb anlegen</h2>
<fieldset>
<legend>Beschreibung</legend>
<div data-fields="description"></div>
<div data-fields="products"></div>
<div data-fields="founded_at_year"></div>
<div data-fields="founded_at_month"></div>
<div data-fields="farming_standard"></div>
<div data-fields="is_solawi_member"></div>
</fieldset>
