<main>
  <div class="container">
    <h2>Kontakt</h2>
    <article class="content">
      <p>Vielen Dank! Deine Nachricht wurde an uns übermittelt. Wir werden uns gleich bei Dir melden.</p>
    </article>
    <aside class="sidebar">
      <%= layout_render_textblock @contact_info_block %>
    </aside>
  </div>
</main>
