[: overlay "properties" . :]
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Additional</th>
      </tr>
    </thead>
    <tbody>
      [: template "fragments/reference/properties" .Resource :]
    </tbody>
  </table>
</div>
