<h2 class="sub-header">Resource</h2>
[: overlay "resource" . :]
<pre><code>[: .Resource.Schema :]</code></pre>

<h2 class="sub-header">Properties</h2>
[: overlay "properties" . :]
[: template "fragments/reference/resource_table" . :]
