@include border-box-sizing;

body {
  font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.5;
  background: #253d4c;
}

h1 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: bold;
  color: $darkGreen;
}

h2 {
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
  padding: 1em 0 0 0;
}

h3, h4 {
  font-size: 16px;
}

nav {
  font-size: 14px;
}

a {
  color: $blue;

  &:hover,
  &:active,
  &:focus {
    color: darken($blue, 20);
  }
}

.container {
  @include container($total-columns);
  padding: 0 $grid-padding;
  position: relative;
}

.content {
  padding: $gutter-width 0 0 0;
}

.modals {
  position: relative;
  z-index: 3;
}

main {
  background: white;
  color: $charcoal;
  position: relative;
}

.main {
  position: relative;
  z-index: 10000; // move to the top of the stacking order
}

.home.index {

  .content > p:first-of-type {
    font-weight: bold;
    font-size: 22px;
  }

  .content > ul:first-of-type {
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    margin-bottom: 30px;

    > li {
    position: relative;
    list-style: none;
    padding: 0 5px;
    font-size: 22px;
    font-style: italic;

      &:before {
        font-style: normal;
        content: '✓';
        position: absolute !important;
        left: -35px;
        top: -10px;
        font-size: 40px;
        color: $green;
      }
    }
  }

  .sidebar {
    background: $beige;
    margin-top: $gutter-width*2;
    padding: 0 $grid-padding;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .info {
    padding: $gutter-width/2 0;
  }

  .button {
    display: inline-block;
    border-radius: 5px;
    padding: 15px 20px;
    background: $orange;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(black, 0.3);
    transition: background-color 0.2s;

    &:hover,
    &:focus {
      background: darken($orange, 5);
    }
  }
}

@include susy-breakpoint($desktop) {

  h1 {
    font-size: 32px;
  }

  .content {
    @include span(8);
  }

  .sidebar {
    @include span(4 last);
    margin-top: $gutter-width*4;
  }

}
