.dropdown {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px 0;
  padding: 3px 0 0 0;
  background: $white;
  z-index: 1000;

  // tip
  &:before {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -10px;
    transform: rotate(45deg);
    background: $white;
    content: '';
  }

  &.open {
    display: block;
  }

  li {
    float: none;
    display: block;
    border-bottom: 1px solid $lightGray;
    position: relative;
    z-index: 1;
  }

  a {
    display: block;
    padding: 10px 15px;
    color: $charcoal;
    line-height: 1.6em;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
