.dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px 0;
  padding: 3px 0 0 0;
  background: $white;
  z-index: 1000;

  // tip
  &:before {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -10px;
    transform: rotate(45deg);
    background: $white;
    content: '';
  }

  &.open {
    display: block;
  }

  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: block;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid $lightGray;
  }

  a, button  {
    display: block;
    padding: 10px 15px;
    color: $charcoal;
    line-height: 1.6em;
    border: none;
    background: transparent;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
