.button {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 1px 1px 5px rgba(black, 0.3);
  text-decoration: none;
  background: $blue;
  color: white;
  display: inline-block;
  border: 0;

  &:focus, &:active, &:hover {
    background: $darkBlue;
    color: white;
    cursor: pointer;
  }
}

.form-explanation {
  margin-top: -0.3em;
  color: $charcoal;
}

.form-select {
  font-size: 0.8em;
  font-weight: bold;
}

.form-actions {
  margin-bottom: 1em;
}

label {
  font-weight: bold;
  display: block;
  line-height: 2em;
}

label.required:after {
  content: '*';
  color: $red;
}

fieldset {
  padding-top: 1em;
  border: 1px solid $lightGrey;
  border-radius: 3px;
}

@-webkit-keyframes autofill {
  to {
    color: $grey;
    background: $white;
  }
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
textarea {
  padding: 0 10px;
  border: none;
  background: $white;
  color: $black;
  border: 1px solid $charcoal;
  border-radius: 3px;
  margin-bottom: .5em;
  width: 100%;
  line-height: 1.8em;

  &:focus {
    border-color: $blue;
  }

  &:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
  }
}

@include susy-breakpoint($tablet) {

  .form-inputs {
    .input {
      padding-bottom: .0.3em;
      overflow: hidden;
    }

    .form-explanation {
      @include span(10);
      clear: both;
      text-align: right;
    }

    label {
      @include span(4);
      text-align: right;
    }

    input[type=text],
    input[type=password],
    input[type=url],
    input[type=email],
    textarea,
    .form-select {
      @include span(6);
    }
  }

  .form-inputs-big {
    label {
      margin-top: .6em;
    }

    input[type=text],
    input[type=password],
    input[type=url],
    input[type=email],
    textarea,
    .form-select {
      display: block;
      padding: .6em 1.2em;
    }
  }

  .form-actions {
    @include span(10);
    margin: 1.2em 0;
    text-align: right;
  }

  .form-actions-big {
    margin: 1.2em 0;

    > input, button, a {
      line-height: 1.8em;
      display: inline-block;
      padding: .6em 1.2em;
    }
  }

  .control-label abbr {
    border: none;
    color: $red;
  }

  .form-control {
    &:after,
    &:before {
      content: "";
      display: block;
      clear: both;
    }
  }
}
