.site-header {
  position: relative;
  background: rgba($charcoal, 0.55);
  height: 100px;

  // Map background:
  body:not(.map) &:after {
    content: "";
    background-image: url('../assets/images/map-header.jpg');
    background-size: cover;
    opacity: 0.65;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    position: absolute;
    z-index: -1;
  }

  // Map background on homepage:
  .home:not(.map) & {
    margin-bottom: 110px;

    &:after {
      height: 500px;
    }
  }

  .map & {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgba($charcoal, 0.85);
  }

  @include susy-breakpoint($mobile) {
    height: 75px;
    overflow: hidden;

    .map & {
      height: 75px
    }

    .home:not(.map) & {
      height: auto;
      overflow: visible;
    }
  }

  @include susy-breakpoint($tablet) {
    height: 150px;

    .map & {
      height: 100px
    }

    .home:not(.map) & {
      height: 250px;
      margin-bottom: 250px;
    }
  }

}
