.hero {
  .claim {
    margin: 0;
    padding: 25px 0;
    text-shadow: 2px 1px 5px rgba(black, 0.6);
    font-size: 25px;
    color: white;
    font-weight: 300;

    @include susy-breakpoint($mobile) {
      font-size: 20px;
    }

    @include susy-breakpoint($tablet) {
      position: absolute;
      top: 120px;
      white-space: pre-line;
    }

    @include susy-breakpoint($desktop) {
      max-width: 700px;
    }
  }

  .call-to-action {
    position: absolute;
    left: $grid-padding;
    margin-top: $grid-padding;
    @extend .icon, .ss-map;

    @include susy-breakpoint($tablet) {
      top: 280px;
    }
  }
}
