.map-container {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.leaflet-control-container {
  @include container;
  position: relative;
}

.leaflet-top {
  top: 120px;
}

.leaflet-left {
  left: $grid-padding;
}

.leaflet-right {
  right: $grid-padding;
}

.leaflet-control {
  margin: 3px;
}

.custom-controls {
  position: absolute;
  overflow: visible;
  top: 120px;
  left: 75px;
  right: 30px;
  margin: 3px;
  z-index: 1000;
}

.leaflet-popup-content-wrapper {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  overflow: hidden;
}

.leaflet-popup-content-content {
  margin: 10px;
}

.map-popup {
  > h3 {
    margin: 0;
    font-size: 15px;
  }

  > p {
    margin: 5px 0;

    @include susy-breakpoint($mobile) {
      display: none;
    }
  }

  > button,
  > button:hover,
  > button:active {
    border: none;
    background: transparent;
    color: $blue;
    text-decoration: underline;
    outline: none;

    @include susy-breakpoint($tablet) {
      display: block;
      padding: 0;
    }
  }
}

.map-footer {
  position: fixed;
  right: $grid-padding;
  bottom: 5px;
  z-index: 10;
  font-size: 12px;
  font-weight: bold;
  color: $white;
  text-shadow: 1px 2px 4px black;

  a {
    padding-bottom: 1px;
    border-bottom: 1px solid white;
    color: inherit;
    text-decoration: none;
  }
}

#alert-container {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 60px;
  right: 60px;
}

@include susy-breakpoint($mobile) {

  .leaflet-control {
    // hide leaflet controls on mobile
    display: none;
  }

  .custom-controls {
    top: 95px;
    left: 20px;
  }

}

