{% extends "./layouts/broadcast.njk" %}

{% block body %}
<p class="lead">Angaben zur Bio-Zertifizierung im Ernte Teilen-Profil</p>
<spacer size="16"></spacer>
<p>
Liebe:r Nutzer:in der Karte ernte-teilen.org,
<br><br>

Ihr habt euch seit einem Jahr nicht mehr eingeloggt. Bitte schaut mal wieder rein und überprüft die Aktualität eurer Einträge.
<br><br>
Oder klickt hier, um zu bestätigen, dass das Konto noch in Verwendung ist:
<br><br>
<button href="{{ user.origin }}{{ user.baseurl }}/?user_id={{ user.id }}&reactivation_token={{ user.reactivationToken }}" target="_blank">Konto bestätigen</button>
<br><br><br>
Bei Fragen meldet euch gerne unter: <a href="mailto:ernteteilen@solidarische-landwirtschaft.org">ernteteilen@solidarische-landwirtschaft.org</a>
<br><br>
Vielen Dank
<br>
Euer Netzwerk Solidarische Landwirtschaft e.V.
</p>
<spacer size="16"></spacer>
{% endblock %}


