.entries-editor {
  position: relative;
  padding: 120px 0;
  background: $white;
}

.entries-editor-container {
  @include wrapper;
  padding: 0 $grid-padding;
}

.entries-editor-explanation {
  clear: both;
  margin: 0;
  padding: 0 0 1.5em;
  font-style: italic;

  @media (min-width: $tablet) {
    margin-left: 33%;
  }
}
