.geocoder-search {
  display: block;
  @include clearfix;
}

.geocoder-search-input-container {
  position: relative;

  // overwrite react-autocomplete default styling:
  > div {
    display: block !important;
  }

  @media (min-width: $tablet) {
    width: 50%;
    float: left;
  }
}

.geocoder-search-input {
  padding: 0 10px;
  border: none;
  background: $white;
  color: $black;
  border: 1px solid $charcoal;
  border-radius: 3px;
  margin-bottom: 0.5em;
  width: 100%;
  line-height: 1.8em;
}

.geocoder-search-menu {
  position: absolute;
  z-index: 1;
  top: 2em;
  left: 0;
  right: 0;
  border: 1px solid $grey;
  background: $white;
  box-shadow: 2px 2px 30px rgba(black, 0.3);
}

.geocoder-search-item {
  display: block;
  width: 100%;
  padding: 5px;
}

.geocoder-search-item-active {
  background: $lightGray;
}

.geocoder-search-info {
  background-color: $lightGrey;
  padding: $gutter-width * 0.5 $gutter-width;

  @media (min-width: $tablet) {
    width: 50%;
    float: left;
    margin-left: calc(33%);
  }
}
