html,
body {
  // allow for full-screen display of the map
  height: 100%;
  background: #efefef;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

#main {
  padding: 0 80px;
}

// simple layout rules for non-single-page app pages
.registrations,
.sessions,
.messages,
.confirmations,
.passwords {
  #main {
    // TODO: foundation 4 button mixins would be nice here..
    padding-top: 30px;
  }
}

.button {
  border: none;
  @include border-radius(3px);
  @include box-shadow(none);
}

.alert-box {
  .close {
    cursor: pointer;
  }
}

// custom css for static html devise views
#mainbox {
  margin-top: 50px;
  width: 500px;
}

%simple-button {
  cursor: pointer;
  display: inline-block;
  background: #e7e7e7;
  color: $blue;
  padding: 1px 5px;
  font-size: 14px;
  @include border-radius(3px);
}
