.select2-search-choice {
  line-height: 1.1em !important;
}

.previewMap {
  position: relative;
  height: 200px;
  width: 300px;
}

.preview-marker {
  margin-left: 126px;
  margin-top: 57px;
  display: none;
}

.previewMap img {
  height: 200px;
  width: 300px;
}
