.select2-search-choice {
  line-height: 1.1em !important;
}

.previewMap {
  position: relative;
  height: 200px;
  width: 300px;
}

.preview-marker {
  margin-left: 126px;
  margin-top: 57px;
  display: none;
}

.previewMap img {
  height: 200px;
  width: 300px;
}

.entrylist-item {
  height: 50px;
  img {
    margin-top: -10px;
  }
}

.entrylist-name {
  margin-top: 10px;
}

#entrylist {
  margin-top: 30px;
}
