%header
  .container
    %a.logo{href: '/'}
      %h1
        %b ernte
        teilen!

    %p.claim= preserve "Nachhaltige und regionale Lebensmittel&shy;versorgung \ndurch feste Netzwerke zwischen Landwirten und Verbrauchern."

    %a.button.call-to-action{href: '/map'}
      Direkt zur Karte

    %a#nav-switch.navigation-switch{href: '#navigation'}
      zur Navigation
