<div class="hero">
  <p class="claim">
    Nachhaltige und regionale Lebensmittel&shy;versorgung durch feste Netzwerke zwischen Landwirten und Verbrauchern.
  </p>
  <a class="button call-to-action" href="/map">Direkt zur Karte</a>
</div>
