.hero
  %p.claim= preserve "Nachhaltige und regionale Lebensmittel&shy;versorgung \ndurch feste Netzwerke zwischen Landwirten und Verbrauchern."
  %a.button.call-to-action{href: '/map'} Direkt zur Karte

