#navigation.main-navigation

  %nav.page-nav
    %ul
      - @nav_items.each do |ni|
        %li{class: ni[:style]}= link_to t(ni[:title]), ni[:path]

  %nav.user-nav
    %ul
      %li.signin.user-nav-login= link_to(t('nav.login'), new_user_session_path(), id: "signin")
      %li.user-nav-contact= link_to t('nav.contact'), contact_path()

