#mega-drop
  .description
    .row
      .columns
        Hier finden Landwirte und Verbraucher zusammen, die sich an <br/>Solidarischer Landwirtschaft beteiligen möchten.

        %a.toggle
          %b mehr erfahren

  .slider
    .row
      %h2.twelve.columns Solidarische Landwirtschaft

      .four.columns
        %p Du möchtest wissen, woher deine Lebensmittel kommen? Dann werde Mitglied in einer regionalen Versorgergemeinschaft!

        %figure
          %img{:src => "assets/ernteanteil.jpg"}
            %figcaption
              Beispiel eines Ernteanteils
              %small Foto: Jürgen Breiter | Urban Curator

      .four.columns
        %p Die Idee ist ganz einfach: Ein Hof oder eine Gärtnerei versorgt eine Gruppe von Menschen in der näheren Umgebung mit Lebensmitteln. Im Gegenzug stellt die Gruppe die nötigen Mittel für die Lebensmittel&shy;erzeugung zur Verfügung. Alle Beteiligten teilen sich die Ernte und die Verantwortung.

        %p Im deutschen Sprachraum ist dieses Konzept als <em>Solidarische Landwirtschaft</em> bekannt. Interna&shy;tional wird oft die Bezeichnung <em>Community supported Agriculture</em> (CSA) verwendet.

      .four.columns
        %h3 Die elementaren Bestandteile sind:
        %ul
          %li Wöchentliche Gemüselieferungen gegen einen festen Beitrag
          %li Planungssicherheit für Landwirte durch die Bindung für ein Wirtschaftsjahr
          %li Mitbestimmung bei der Anbauplanung
          %li Gemeinsame, faire Preisgestaltung
          %li Möglichkeit der Mitarbeit auf dem Hof

        %h3 Weitere Informationen:
        %ul.call-to-action
          %li
            %a
              %b Einstieg für Verbraucher
          %li
            %a
              %b Einstieg für Landwirte
