#map-container
#login
  %h2 Sign in
  %form{ :action => "/users/sign_in", :method => "post"}
    %ul
      %li
        %label{:for => "user-email"} Email:
        %input{:type => "text", :id => "login-email", :name => "user[email]"}
      %li
        %label{:for => "password"} Password:
        %input{:type => "password", :id => "login-password", :name => "user[password]"}
    %input{:type => "submit", :value => "Send", :class => "button"}
#list-container
