#map-container
  #mega-drop.row
    %p.description
      Diese Plattform ermöglicht es dir, dich an Initiativen der Solidarischen Landwirtschaft zu beteiligen.
      %button.button.tiny.round.toggle Weitere Informationen
    .slider
      .content
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

  #map
#popup-container
  #user-popups
  #places-popups

