- content_for :header do
  = render 'layouts/navigation'
- content_for :footer do
  #modal-container
- content_for :javascript do
  = javascript_include_tag "map"

#map-container
  = render 'megadrop'
  #alert-container
  #map
