#map-container
  #mega-drop
    .row
      .description
        Hier finden Menschen zusammen, die sich an Solidarischer Landwirtschaft beteiligen möchten.
        %a.toggle
          %b mehr erfahren
    .slider
      .row
        .four.columns
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
        .four.columns
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
        .four.columns
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
  #map
#popup-container
  #user-popups
  #places-popups

