- content_for :header do
  = render 'layouts/navigation'
- content_for :footer do
  / &copy; Ernte teilen
- content_for :javascript do
  = javascript_include_tag "map"

#map-container
  = render 'megadrop'
  #alerts
  #map

#modal-container
#alert-container

