#map-container
  #mega-drop.row
    %p.description
      Hier finden Menschen zusammen, die sich an Solidarischer Landwirtschaft beteiligen möchten.
      %a.toggle Mehr über Solidarische Landwirtschaft >
    .slider
      .content
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

  #map
#popup-container
  #user-popups
  #places-popups

