- content_for :header do
  = render 'layouts/navigation'
- content_for :footer do
  #modal-container
- content_for :javascript do
  = javascript_include_tag "map"
  - if signed_in?
    :javascript
      Teikei.currentUser = new Teikei.Entities.UserSession(#{current_user.to_json.html_safe});
  - else
    :javascript
      Teikei.currentUser = null;
  :javascript
    Teikei.start();


#map-container
  = render 'megadrop'
  #alert-container
  #controls-container
  #map
