<% unless Rails.env.development? %>
  <% content_for :head do %>
    <%= stylesheet_link_tag 'map.css' %>
  <% end %>
<% end %>

<main id="teikei-embed"></main>

<% no_content_for :footer %>

<% content_for :javascript do %>
  <script>
    Teikei = {
      config: {
        locale: '<%= I18n.locale %>',
        country: 'DE',
        baseurl: '/map'
      }
    }
  </script>
  <% if Rails.env.development? %>
      <%= javascript_include_tag '/static/js/map.js' %>
  <% else %>
      <%= javascript_include_tag 'map' %>
  <% end %>
<% end %>
