<div class="geocoder-controls">

  <label for="geocoder-address">Straße und Hausnummer</label>
  <input type="text" id="geocoder-address"/>

  <label for="geocoder-city">Ort</label>
  <input type="text" id="geocoder-city"/>

  <a class="small button preview-button">Ort auf Karte anzeigen</a>

  <p class="explanation">
    Diese Angaben werden ausschließlich dazu verwendet, den Ort auf der Karte zu markieren.
    Die Adresse wird weder im Web veröffentlicht noch anderweitig weitergegeben.
  </p>

</div>

<div class="preview-map">
  <img class="preview-marker leaflet-marker-icon" />
  <div class="alert-box alert"></div>
</div>
