{% extends "layouts/base.njk" %}

{% block body %}
<p>
  Hallo {{ user.name }}!
</p>
<p>
  Jemand hat einen Link angefordert, um dein Passwort zu ändern. Klicke auf diesen Link, um dies zu tun:
</p>
<p>
  <a href="{{ user.origin }}{{ user.baseurl }}/./users/resetpassword?reset_password_token={{ user.resetToken }}">Passwort ändern</a>
</p>
<p>
  Wenn du keinen Passwort-Wechsel angefordert hast, kannst du diese Email ignorieren.
</p>
<p>
  Dein Passwort wird nur geändert, wenn du den obenstehenden Link anklickst.
</p>
{% endblock %}
