<article>

  <dl class="tabs">
    <dd>
      <a href="#signin" id="signin-tab" class="active">Anmeldung</a>
    </dd>
    <dd>
      <a href="#signup" id="signup-tab">Registrierung für neue Nutzer</a>
    </dd>
  </dl>
  <ul class="tabs-content">
    <li class="tab-content active" id="signin-content">
      <p>Melde dich mit deiner Email-Adresse und deinem Passwort an, um Einträge auf der Karte vorzunehmen oder zu bearbeiten.</p>
      <p>
        Neu bei <em>Ernte Teilen?</em> Hier geht es zur
        <a href="#signup" id="signup-link">Registrierung für neue Nutzer</a>
      </p>
      <form id="signin-form" class="form-inputs">
        <input type="submit" class="button" value="Anmelden" />
        <a href="users/password/new" title="Passwort vergessen?">Passwort vergessen?</a>
      </form>
    </li>
    <li class="tab-content" id="signup-content">
      <p>
        Fehlen dein Betrieb oder deine Depots auf dieser Karte?
        <br/>Registriere dich, um sie einzutragen!
      </p>
      <p>
        Bereits bei <em>Ernte Teilen</em> registriert?
        <a href="#signin" id="signin-link">Hier gehts zur Anmeldung.</a>
      </p>
      <form id="signup-form" class="form-inputs">
        <p>
          Mit deiner Registrierung akzeptierst du die
          <a href="/terms">Nutzungsbedingungen</a>
          dieser Plattform.
        </p>
        <input type="submit" class="button" value="Registrieren" />
      </form>
    </li>
  </ul>
  <a class="close-reveal-modal">×</a>
</article>
