<div class="login-popup">
  <dl class="tabs">
    <dd class="active">
      <a href="#signin" id="signin-tab">Anmeldung</a>
    </dd>
    <dd>
      <a href="#signup" id="signup-tab">Registrierung für neue Nutzer</a>
    </dd>
  </dl>
  <ul class="tabs-content">
    <li class="active" id="signin">
      <form id="signin-form">
        <input type="submit" class="button" value="Anmelden" />
      </form>
    </li>
    <li id="signup">
      <form id="signup-form">
        <input type="submit" class="button" value="Registrieren" />
      </form>
    </li>
  </ul>
  <a class="close-reveal-modal">×</a>
</div>
