<div class="login-popup">
  <dl class="tabs">
    <dd class="active">
      <a href="#login-tab">Anmeldung</a>
    </dd>
    <dd>
      <a href="#signup-tab">Registrierung für neue Nutzer</a>
    </dd>
  </dl>
  <ul class="tabs-content">
    <li class="active" id="login-tab">
      <form id="login-form">
        <input type="submit" class="button" value="Anmelden" />
      </form>
    </li>
    <li id="signup-tab">
      <form id="signup-form">
        <input type="submit" class="button" value="Registrieren" />
      </form>
    </li>
  </ul>
</div>
