<!-- User sign-in and settings: -->

<% if (isLoggedIn()) { %>

  <div class="user-nav-main user-nav-toggle" data-dropdown-target="#user-menu-dropdown">
    <a href="#user-menu-dropdown" id="user-menu-toggle"> <%= name %> </a>
  </div>

  <ul class="dropdown user-nav-dropdown" id="user-menu-dropdown">
    <li class="user-nav-account">
      <a href="/users/edit" title="Click here to edit your account.">Edit account</a>
    </li>
    <li class="user-nav-signout">
      <a href="/users/sign_out" data-method="delete" rel="nofollow" title="Click here to sign out.">Sign out</a>
    </li>
  </ul>

  <!-- TODO: Move this into a separate component to not have this within the hamburger menu -->
  <div class="entries-nav" id="entries-nav">
    <ul>
      <li class="entries-nav-item entries-nav-list" >
        <a id="my-entries" href="#">Meine Einträge</a>
      </li>
      <li class="entries-nav-item entries-nav-new">
        <a href="#new-entry-dropdown" data-dropdown-target="#new-entry-dropdown">Neuer Eintrag</a>
      </li>
    </ul>

    <ul class="dropdown entries-nav-dropdown" id="new-entry-dropdown">
      <li>
        <a id="add-depot" href="#">Depot hinzufügen</a>
      </li>
      <li>
        <a id="add-farm" href="#">Betrieb hinzufügen</a>
      </li>
    </ul>
  </div>

<% } else { %>

  <div class="user-nav-main">
    <a href="/users/sign_in" id="signin">Anmeldung</a>
  </div>

<% } %>
