<!-- User sign-in and settings: -->
<div class="user-nav-toggle">
  <a href="/users/sign_in" id="signin">Anmeldung</a>
</div>

<div class="user-nav-toggle" data-dropdown-target="#user-menu-dropdown">
  <a href="#user-menu-dropdown" id="user-menu-toggle"> <%= name %> </a>
</div>

<ul class="dropdown user-nav-dropdown" id="user-menu-dropdown">
  <li>
    <a href="/users/edit" title="Click here to edit your account.">Edit account</a>
  </li>
  <li>
    <a href="/users/sign_out" data-method="delete" rel="nofollow" title="Click here to sign out.">Sign out</a>
  </li>
</ul>

<!-- TODO: Move this into a separate component to not have this within the hamburger menu -->
<div class="entries-nav" id="entries-nav">

  <a class="entries-nav-item my-entries-link" id="my-entries" href="#">Meine Einträge</a>
  <a class="entries-nav-item" href="#new-entry-dropdown" data-dropdown-target="#new-entry-dropdown">Neuer Eintrag</a>

  <ul class="dropdown entries-nav-dropdown" id="new-entry-dropdown">
    <li>
      <a id="add-depot" href="#">Depot hinzufügen</a>
    </li>
    <li>
      <a id="add-farm" href="#">Betrieb hinzufügen</a>
    </li>
  </ul>
</div>
