@import '~carbon-components/scss/globals/scss/styles.scss';

.networkdetails--section {
  padding: $layout-md;
  background: $ui-01;
}

.networkdetails--divider {
  border-bottom: 1px solid $ui-05;
}

.mb-layout-2xs {
  margin-bottom: $layout-2xs;
}

.mb-layout-xs {
  margin-bottom: $layout-xs;
}

.mb-layout-sm {
  margin-bottom: $layout-sm;
}

.mb-layout-md {
  margin-bottom: $layout-md;
}

.mb-layout-lg {
  margin-bottom: $layout-lg;
}

.mb-layout-xl {
  margin-bottom: $layout-xl;
}

.mb-layout-2xl {
  margin-bottom: $layout-2xl;
}

.mb-spacing-2xs {
  margin-bottom: $spacing-2xs;
}

.mb-spacing-xs {
  margin-bottom: $spacing-xs;
}

.mb-spacing-sm {
  margin-bottom: $spacing-sm;
}

.mb-spacing-md {
  margin-bottom: $spacing-md;
}

.mb-spacing-lg {
  margin-bottom: $spacing-lg;
}

.mb-spacing-xl {
  margin-bottom: $spacing-xl;
}

.mb-spacing-2xl {
  margin-bottom: $spacing-2xl;
}
