defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost
  username: postgres

development:
  database: teikei_dev
  <<: *defaults

test:
  database: teikei_test
  <<: *defaults
