@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary:
    'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-headings:
    'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.329 0.048 196.70015626510946);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.329 0.048 196.70015626510946);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.329 0.048 196.70015626510946);
  --primary: oklch(0.442 0.066 171.83018626712425);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.951 0.008 177.4676106328079);
  --secondary-foreground: oklch(0.233 0.023 174.4532384087854);
  --muted: oklch(0.951 0.008 177.4676106328079);
  --muted-foreground: oklch(0.619 0.077 173.24562762202248);
  --accent: oklch(0.876 0.072 47.87622707008504);
  --accent-foreground: oklch(0.218 0.032 47.11071409214898);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.881 0.02 177.05161204100318);
  --input: oklch(0.881 0.02 177.05161204100318);
  --ring: oklch(0.442 0.066 171.83018626712425);
  --chart-1: oklch(0.442 0.066 171.83018626712425);
  --chart-2: oklch(0.821 0.136 170.67437453669703);
  --chart-3: oklch(0.843 0.096 173.717230110533);
  --chart-4: oklch(0.573 0.116 166.28136891070181);
  --chart-5: oklch(0.43 0.085 167.0363992243413);
  --sidebar: oklch(0.951 0.008 177.4676106328079);
  --sidebar-foreground: oklch(0.233 0.023 174.4532384087854);
  --sidebar-primary: oklch(0.442 0.066 171.83018626712425);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.876 0.072 47.87622707008504);
  --sidebar-accent-foreground: oklch(0.218 0.032 47.11071409214898);
  --sidebar-border: oklch(0.881 0.02 177.05161204100318);
  --sidebar-ring: oklch(0.442 0.066 171.83018626712425);
}

.dark {
  --background: oklch(0.207 0.019 174.71330737636404);
  --foreground: oklch(0.989 0.006 198.26395052073732);
  --card: oklch(0.258 0.026 174.2531034439325);
  --card-foreground: oklch(0.989 0.006 198.26395052073732);
  --popover: oklch(0.258 0.026 174.2531034439325);
  --popover-foreground: oklch(0.989 0.006 198.26395052073732);
  --primary: oklch(0.534 0.096 169.38946710542146);
  --primary-foreground: oklch(0.964 0.003 177.6270237429891);
  --secondary: oklch(0.319 0.026 175.12027633833637);
  --secondary-foreground: oklch(0.967 0.009 177.45532244276208);
  --muted: oklch(0.319 0.026 175.12027633833637);
  --muted-foreground: oklch(0.745 0.031 176.43835057343261);
  --accent: oklch(0.708 0.159 45.33714067699987);
  --accent-foreground: oklch(0.961 0.011 48.614206825650754);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.434 0.045 174.19985808033084);
  --input: oklch(0.434 0.045 174.19985808033084);
  --ring: oklch(0.534 0.096 169.38946710542146);
  --chart-1: oklch(0.534 0.096 169.38946710542146);
  --chart-2: oklch(0.858 0.136 171.15525203757036);
  --chart-3: oklch(0.898 0.11 173.30018056943857);
  --chart-4: oklch(0.594 0.111 168.5892098576873);
  --chart-5: oklch(0.442 0.071 170.953864567407);
  --sidebar: oklch(0.353 0.04 173.76818569850758);
  --sidebar-foreground: oklch(0.964 0.003 177.6270237429891);
  --sidebar-primary: oklch(0.534 0.096 169.38946710542146);
  --sidebar-primary-foreground: oklch(0.964 0.003 177.6270237429891);
  --sidebar-accent: oklch(0.708 0.159 45.33714067699987);
  --sidebar-accent-foreground: oklch(0.961 0.011 48.614206825650754);
  --sidebar-border: oklch(0.388 0.026 175.62365309179134);
  --sidebar-ring: oklch(0.534 0.096 169.38946710542146);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Typography Styles */
  h1,
  h2 {
    @apply scroll-m-20 text-2xl font-extrabold tracking-tight text-primary  font-headings subpixel-antialiased;
  }

  h3 {
    @apply mt-8 scroll-m-20 text-2xl font-semibold text-primary font-headings  tracking-tight subpixel-antialiased;
  }

  h4,
  h5,
  h6 {
    @apply scroll-m-20 text-xl font-semibold text-primary font-headings tracking-tight subpixel-antialiased;
  }

  p {
    @apply font-primary text-base font-medium text-foreground leading-relaxed subpixel-antialiased;
  }

  blockquote {
    @apply mt-6 text-foreground border-l-2 pl-6 italic;
  }

  ul {
    @apply my-6 ml-6 text-foreground list-disc [&>li]:mt-2;
  }

  ol {
    @apply my-6 ml-6 text-foreground list-decimal [&>li]:mt-2;
  }

  code {
    @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold text-foreground;
  }

  pre {
    @apply overflow-x-auto rounded-lg border bg-muted px-4 py-4 text-foreground;
  }

  pre code {
    @apply bg-transparent px-0 py-0 text-sm text-foreground;
  }

  table {
    @apply w-full text-foreground;
  }

  table thead {
    @apply [&_tr]:border-b text-foreground;
  }

  table tbody {
    @apply [&_tr:last-child]:border-0 text-foreground;
  }

  table tr {
    @apply border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted text-foreground;
  }

  table th {
    @apply h-12 px-4 text-left align-middle font-medium text-foreground [&:has([role=checkbox])]:pr-0;
  }

  table td {
    @apply p-4 align-middle [&:has([role=checkbox])]:pr-0 text-foreground;
  }

  /* Lead text utility */
  .lead {
    @apply text-muted-foreground text-xl;
  }

  /* Large text utility */
  .large {
    @apply text-lg font-semibold;
  }

  /* Small text utility */
  .small {
    @apply text-sm leading-none font-medium;
  }

  /* Muted text utility */
  .muted {
    @apply text-muted-foreground text-sm;
  }

  a {
    @apply font-primary text-base font-bold text-primary/90 leading-relaxed underline underline-offset-4 hover:text-primary/80 transition-colors subpixel-antialiased focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-2;
  }
}
