@font-face {
  font-family: 'Fira Sans Light';
  src: url('FiraSans-Light.eot'); /* IE9 Compat Modes */
  src: url('FiraSans-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('FiraSans-Light.woff') format('woff'),
    /* Modern Browsers */ url('FiraSans-Light.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('FiraSans-Light.svg#03be22565f59be2b180956e9e0d1566b') format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 200;
}
