<select id="area-select">
  <option value="badenwuerttemberg">Baden-Württemberg</option>
  <option value="bayern">Bayern</option>
  <option value="berlin" selected="selected">Berlin</option>
  <option value="brandenburg">Brandenburg</option>
  <option value="bremen">Bremen</option>
  <option value="hamburg">Hamburg</option>
  <option value="hessen">Hessen</option>
  <option value="mecklenburgvorpommern">Mecklenburg Vorpommern</option>
  <option value="niedersachsen">Niedersachsen</option>
  <option value="nordrheinwestfalen">Nordrhein-Westfalen</option>
  <option value="rheinlandpfalz">Rheinland-Pfalz</option>
  <option value="saarland">Saarland</option>
  <option value="sachsen">Sachsen</option>
  <option value="sachsenanhalt">Sachsen-Anhalt</option>
  <option value="schleswigholstein">Schleswig-Holstein</option>
  <option value="thueringen">Thüringen</option>
</select>
