<section class="wizard">
  <div class="forms"></div>
  <ul id="wizard-navigation" class="button-group">
    <li><button class="button submit">Speichern</a></li>
    <li><button class="button next">Weiter</a></li>
    <li><button class="button prev">Zurück</a></li>
  </ul>
</section>
