<section class="wizard">
  <div class="forms"></div>
  <div class="legend">
    <p>Bei den mit einem Stern * gekennzeichneten Formularfelder handelt es sich um Pflichtangaben.<p>
  </div>
  <ul id="wizard-navigation" class="button-group">
    <li><button class="button submit">Speichern</button></li>
    <li><button class="button next">Weiter</button></li>
    <li><button class="button prev">Zurück</button></li>
  </ul>
  <a class="close-reveal-modal">×</a>
</section>
