<div class="map-popup">
    <h3><%= name %></h3>
    <em><%= city %></em>

    <p>
        <%= translatedProducts() %>
    </p>
    <button class="details" title="Öffnet die Details dieses Eintrags">Details</button>

    <%
    // The network visualisation is currently disabled due to incompatibilities with Leaflet.markercluster.
    // TODO: update network vis and re-enable network visualisation (see next line)
    // <button class="network" title="Visualisiert verbundene Höfe und Gruppen">Netzwerk anzeigen</button>
    %>
</div>
