<article class="map-popup">
  <h3><%= name %></h3>
  <em><%= city %></em>
  <p><%= products %></p>
  <button class="button small details">Details</button>
  <button class="button small network">Netzwerk anzeigen</button>
</article>
