<article class="map-popup">
  <h3><%= name %></h3>
  <p>Koordinaten: <%= latitude %>, <%= longitude %></p>
  <button class="button small details">Details</button>
  <button class="button small network">Netzwerk</button>
</article>
