@import "../../main.css";

.root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  background: white;
  height: 100%;
  transition: 0.2s;
  border-radius: 0;
  box-shadow: 3px 0 3px -3px rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
}

.rootCollapsed {
  width: var(--sidebar-collapsed-width);
}

.content {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.contentCollapsed {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}
