@import 'settings';
@import 'foundation-emails';

@import 'template/template';

$blue: #253d4c;
$grey: #a3a3a3;
$link: #3e6889;
$hoverlink: #1e3343;


.header {
  background-color: $blue;
}

.disclaimer {
  font-size: 0.75em;
  color: $grey;
}

hr {
  color: $grey;
  height: 1px;
}

a {
  color: $link;
  &:hover {
    color: $hoverlink;
  }
}