body {
	padding-top: 106px;
}
.navbar {
    /* background-color: darkcyan; */
}
.navbar-section  {
    /* background-color: #1c6f6f;
     */
    background-color: #025F28;
    height: 33px;
}
.footer {
    /* background-color: #031c3c; */
}

