{% extends "../layouts/base.njk" %}

{% block body %}
<p class="lead">Hallo
  {{recipient.name}},<br/>
  Du hast eine Nachricht über ernteilen.org erhalten.
</p>
<spacer size="16"></spacer>

<callout class="secondary">
  <row>
    <columns>
      <p>
        <strong>Von:</strong><br/>
        {{message.senderName}}, {{message.senderEmail}}
      </p>
    </columns>
  </row>
  <row>
    <columns>
      <p>
        <strong>Zu deinem Eintrag:</strong><br/>
        <a href="{{permalink}}" target="_blank">{{entry.name}}</a>
      </p>
    </columns>
  </row>
</callout>

<spacer size="16"></spacer>

<p>
  {{message.text}}
</p>
{% endblock %}

