@font-face {
  font-family: 'Fira Sans';
  src: url('FiraSans-Italic.eot'); /* IE9 Compat Modes */
  src: url('FiraSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FiraSans-Italic.woff') format('woff'), /* Modern Browsers */
       url('FiraSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FiraSans-Italic.svg#3d0cc20c3fb21118c172b047b979716b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

