<div class="fileupload">
  <div class="fileupload-controls">
    <p class="explanation">
    Hier kannst du ein Bild des Betriebes hinzfügen. Wähle dazu
    ein Bild von deinem Computer aus oder ziehe es per Drag&Drop auf
    die Seite.
    </p>
    <a class="small button upload-button">
      Bild auswählen...
      <input id="fileupload" type="file" name="file">
    </a>
  </div>
  <div class="fileupload-preview">
    <img id="previewimage"></img>
    <div class="radius progress success"><span class="meter"></span></div>
  </div>
</div>
