<h3 class="title">Meine Einträge</h3>
<div class="button dropdown" id="new-entry-my-entries">
  Neuer Eintrag
  <ul class="dropdown">
    <li>
    <a id="add-depot" href="#">Abholstelle hinzufügen</a>
    </li>
    <li>
    <a id="add-farm" href="#">Betrieb hinzufügen</a>
    </li>
  </ul>
</div>
<div id="entrylist">
</div>
<a class="close-reveal-modal">×</a>
