<div class="container">
  <section class="entrylist">
    <h1 class="title">Meine Einträge</h3>
    <ul class="entrylist-controls">
      <li>
        <a id="add-depot" href="#">Abholstelle hinzufügen</a>
      </li>
      <li>
        <a id="add-farm" href="#">Betrieb hinzufügen</a>
      </li>
    </ul>
    <div id="entrylist">
    </div>
    <a class="close-reveal-modal">×</a>
  </section>
</div>
