<div class="entrylist-item">
  <div class="entrylist-name">
    <h2><%= name %></h3>
    <em><%= city %></em>
    <ul class="entrylist-controls">
      <li><a href="#" class="edit-entry">Bearbeiten</a></li>
      <li><a href="#" class="delete-entry">Löschen</a></li>
    </ul>
  </div>
  <div class="preview-map">
    <% if (type === 'Farm') { %>
    <img src="/assets/marker-farm.svg" class="preview-marker" />
    <% } else { %>
    <img src="/assets/marker-depot.svg" class="preview-marker" />
    <% } %>
    <div class="alert-box alert"></div>
  </div>
</div>
