.account-nav {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: auto;

  @media (min-width: $tablet) {
    right: 170px;
    top: 30px;
  }
}

.account-nav-toggle {
  @extend .icon, .ss-user;
  border: 0;
  outline: none;
  display: block;
  padding: 5px;
  color: $white;
  transition: background-color 0.2s;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
  background-color: rgba(darken($charcoal, 5), 0.55);
  overflow: hidden;

  &:hover,
  &:focus {
    text-decoration: none;
    background: rgba(darken($charcoal, 5), 0.9);
    color: $white;
  }

  @media (min-width: $mobile) {
    position: absolute;
    top: 20px;
    right: 60px;
    width: 35px;
    height: 35px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 50%;
  }

  @media (min-width: $tablet) {
    width: auto;
    max-width: 300px;
    padding: 10px 20px;
    text-overflow: ellipsis;
    border-radius: 5px;
  }
}

.account-nav-login {
  @extend .account-nav;
  @extend .account-nav-toggle;
  @extend .icon, .ss-maplocation;
}

.account-nav-edit {
  @extend .icon, .ss-settings;
}

.account-nav-signout {
  @extend .icon, .ss-logout;
}

.button-help {
  @extend .icon, .ss-help;
  position: absolute;
  bottom: 50px;
  right: 25px;
  pointer-events: auto;

  @media (min-width: $tablet) {
    bottom: 30px;
  }
}

.user-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  pointer-events: none;
  bottom: 0;

  @media (min-width: $tablet) {
    > ul {
      @include wrapper;
      height: 100px;
      position: relative;
      height: 100%;
      list-style: none;
      margin-top: 0;
    }

    a {
      pointer-events: auto;
    }
  }
}
