.entries-badge {
  display: inline-flex;
  flex-direction: column;
  margin-right: 14px;
}

.entries-badge-name {
  margin-bottom: 8px;
}

.entries-badge-image {
  margin-top: 8px;
}

.farm-form-badges-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
