.entries-editor {
  position: relative;
  padding: 120px 0;
  background: $white;
}

.entries-editor-container {
  @include wrapper;
  padding: 0 $grid-padding;
}

.entries-editor-listing {
  margin: 0;
  padding: 0;
  line-height: 2em;

  dt {
    margin: 0;
    padding: 0;
    @include span(25% no-gutters);
  }

  dd {
    margin: 0;
    padding: 0;
    @include span(75% no-gutters);
  }

  @media (min-width: $tablet) {
    @include span(6);
  }
}

.entries-editor-explanation {
  clear: both;
  margin: 0;
  padding: 0 0 1.5em;
  font-style: italic;

  @media (min-width: $tablet) {
    @include span(isolate 8 at 5);
  }
}
