.user-container {
  @include wrapper;
  padding: 0 $grid-padding;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.user-account {
  min-height: 100vh;
  padding-top: 100px;

  @media (min-width: $tablet) {
    padding-top: 120px;
  }
}

.user-onboarding {
  font-size: 1.2rem;

  @media (min-width: $tablet) {
    min-height: 100vh;
    background-image: linear-gradient(to right, $white, $white 50%, $beige 50%);

    h2 {
      font-size: 1.6rem;
    }
  }
}

.user-onboarding-intro {
  @media (min-width: $mobile) {
    background: $beige;
    padding: 100px $gutter-width $gutter-width $gutter-width;
  }

  @media (min-width: $tablet) {
    padding-top: 120px;
    padding-right: $gutter-width;
    width: 50%;
  }
}

.user-onboarding-form {
  padding: $gutter-width 0;

  h2 {
    color: $darkGreen;
  }

  @media (min-width: $tablet) {
    padding-top: 120px;
    padding-left: $gutter-width;
    width: 50%;
  }
}
