 <span class="membership-availability <%= place.accepts_new_members %>">
    <% if (place.accepts_new_members == "yes") { %>
      Wir nehmen neue Mitglieder auf!
    <% } %>
    <% if (place.accepts_new_members == "no") { %>
      Wir nehmen derzeit keine neuen Mitglieder auf!
    <% } %>
    <% if (place.accepts_new_members == "waitlist") { %>
      Wir nehmen neue Mitglieder auf! (Warteliste)
    <% } %>
</span>
