<h3>Dieser Eintrag hat keine Kontaktperson</h3>
<p>
    Falls dies dein Hof oder deine Abholstelle ist und du diesen Eintrag selbst verwalten möchtest, schreib uns eine Nachricht an <a href="mailto:info@ernte-teilen.org">info@ernte-teilen.org</a>.
</p>