.details-view {
  padding: 100px 0;
  position: relative;
  z-index: 2000;

  h1 {
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding-right: .3em;
    color: $charcoal;
  }

  h4 {
    margin: 20px 0 10px 0;
  }

  article {
    padding: 25px;
    background: $white;
    box-shadow: 3px 3px 10px rgba(black, 0.3);
  }

  header {
    overflow: hidden;
    border-bottom: 5px solid $lightGrey;
    padding: 10px 0;
    margin-bottom: 15px;
  }

  footer {
    clear: both;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 5px solid $lightGrey;
    text-align: right;
    color: $grey;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
  }

  .city {
    font-weight: 500;
    color: $grey;
  }

  .close-reveal-modal {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 50px;
    cursor: pointer;
  }

  .edit {
    position: absolute;
    right: 1em;
    top: 1.2em;
  }

  .tabs {
    margin-top: 20px;
    border-bottom: 5px solid $lightGrey;

    dd {
      margin: 15px 0;
      padding: 0;
      display: inline-block;
    }

    a {
      display: inline-block;
      padding: 10px 10px;
      margin-right: 10px;
      line-height: 1em;
      border-radius: 5px;
      font-weight: 500;
      text-decoration: none;
      transition: background-color 0.2s;
      color: $charcoal;

      &:hover,
      &:active {
        background: $lightGrey;
      }
    }

    .active a {
      background: $grey;
      color: white;
    }
  }

  .tabs-content {
    padding: 0;
    margin: 0;

    .tab-content {
      display: none;
    }

    .active  {
      display: block;
    }
  }

  .membership-availability {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 25px 10px 0;
    color: white;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(black, 0.2);

    &.yes {
      background: $darkGreen;
    }

    &.no {
      background: $orange;
    }

    &.waitlist {
      background: $red;
    }
  }

  .profile-picture {
    max-width: 100%;
  }

  @include at-breakpoint($tablet) {
    padding: 120px 0;

    .profile-picture {
      float: right;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

  @include at-breakpoint($desktop) {
    .membership-availability {
      position: relative;
      bottom: 5px;
    }
  }
}
