.entry-view {
  padding: 20px 0;
  position: relative;
  z-index: 3;

  section {
    position: relative;
    padding: 25px;
    background: $white;
    box-shadow: 3px 3px 10px rgba(black, 0.3);
  }
}

.select2-container {
  width: 100% !important;
  display: block;
}

.select2-search-choice {
  line-height: 1.1em !important;
}

.forms .fileupload label {
  // hide the top-level label
  display: none;
}

.upload-button input {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
}

.fileupload-preview .progress .meter {
  // initial progress bar width
  width: 0px;
}

.fileupload-controls {
  width: 50%;
  display: inline-block;
}

.fileupload-preview {
  width: 48%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  float: right;
  img {
    width: 400px;
    height: 300px;
  }
}

.forms .geocoder {
  width: 100%;

  label {
    // hide the top-level label
    display: none;
  }

  .geocoder-controls {
    width: 50%;
    display: inline-block;

    label {
      display: block;
    }

    .explanation {
      color: gray;
      margin-top: 20px;
    }
  }

}

.preview-map {
  width: 48%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  float: right;
  height: 240px;
  background: $lightGray;
  background-position: center;

  .alert {
    margin: 20px;
    display: none;
  }
}

.preview-marker {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 47px;
  height: 57px;
  margin-left: -25px;
  margin-top: -30px;
  display: none;
}

#entrylist {
  padding-top: 30px;
}

.entrylist-name {
  padding-left: 0px;
}


.entrylist-item {
  height: 240px;
}

.entrylist-icon {
  margin-top: 10px;
}

ul.entrylist-controls {
  padding-top: 155px;
}

#delete-entry-buttons {
  float: right;
  a {
    width: 150px;
  }
}

#new-entry-my-entries {
  float: right;
  margin-top: -30px;
}

.legend {
  p {
    font-style: italic;
  }
}

#wizard-navigation {
  padding: 20px 0;

  li {
    display: inline;
    float: right;
    margin-left: 10px;
  }
}

[data-error] {
  padding: 0 0 10px 0;
  color: $red;
  font-weight: bold;
}
