.select2-search-choice {
  line-height: 1.1em !important;
}

.preview-map {
  overflow: hidden;
  height: 200px;
}

.preview-marker {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 47px;
  height: 57px;
  margin-left: -25px;
  margin-top: -30px;
  display: none;
}

.peview-image {
  max-width: inherit;
  border: 20px solid red;
}

.entrylist-item {
  height: 50px;
  img {
    margin-top: -10px;
  }
}

.entrylist-name {
  margin-top: 10px;
}

#entrylist {
  margin-top: 30px;
}
