.faqs {

  h3 {
    font-size: 1.35em;
    margin: 2em 0 .75em 0;
  }

  p {
    margin-bottom: .75em;
  }

  .questions {
    a {
      line-height: 1.25em;
    }
  }

  .answers {
    h3 {
      margin-top: 1.75em;
      margin-bottom: .25em;
    }

    p {
      line-height: 1.25em;
    }
  }
}

