.faqs {

  .content {
    p {
      line-height: 1.25em;
      margin-bottom: .75em;
    }

    a {
      color: $blue;
      line-height: 1.25em;
      text-decoration: none;
    }

    h1 {
      font-size: 1.2em;
    }

    h2 {
      font-size: 1.1em;
    }

    h3 {
      font-size: 1.0em;
    }
  }

  .questions {
    ul {
      padding-left: 0;

      li {
        list-style-type: none;

      }
    }
  }

  .answers {
    ul {
      list-style: disc inside;
    }

    .entry {
      padding: 0 0 25px 0;
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: $lightGrey;

      a {
        font-size: 0.75em;
      }
    }
  }
}

