header {
  height: 125px;
  width: 100%;
  padding: 0 80px;
  position: relative;
  top: 0;
  z-index: 20;
  border-top: 5px solid $highlightColor;
  background: $white;

  .container {
    position: relative;
  }

  .brand {
    position: absolute;
    top: 15px;
    left: 15px;

    h1 {
      position: relative;
      display: inline-block;
      margin: 0;
      color: #444;
      font-size: 35px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -55px;
        top: 8px;
        width: 55px;
        height: 55px;
        background: url("navigation-logo.png") no-repeat;
      }
    }
  }

  .description {
    padding-top: 8px;
    color: $blue;
    line-height: 1.4;
    font-weight: bold;
  }

  .row {
    position: relative;
    overflow: visible;
  }

  .home-button {
    @extend %simple-button;
    @extend .icon, .ss-right;

    b {
      padding-left: 5px;
    }
  }

  .site-menu {
    float: right;
    color: $txtColor;
    font-size: 14px;
    padding: 1px 10px;

    li {
      display: inline;
      list-style: none;
    }
  }

  .account-menu {
    @include border-radius(3px);
    float: right;
    position: relative;
    top: -5px;
    z-index: 100;
    padding: 5px 10px;
    margin-right: 20px;
    background: $green;
    color: $white;
    cursor: pointer;

    li {
      display: inline;
      list-style: none;

      a {
        color: $white;
        font-size: 14px;
      }
    }

    .toggle {
      text-decoration: none;
      @extend .icon, .ss-user;

      &:hover b {
        text-decoration: underline;
      }
    }

    .user-name {
      min-width: 135px;
      display: block;
    }

    .dropdown {
      display: none;
    }

    &:hover .dropdown {
      display: block;
      padding-top: 10px;
      margin-left: 0;

      a {
        display: block;
        padding: 5px 0;
        border-top: 1px solid desaturate(lighten($green, 50), 50);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .action-menu {
    position: absolute;
    right: 20px;
    top: 63px;

    li {
      float: left;
      margin: 0;
      list-style: none;
    }
  }
}
