.pages {

  h3 {
    font-size: 1.35em;
    margin-bottom: 1em;
  }

  h4 {
    font-size: 1.1em;
    margin-bottom: 1em;
  }

}

// About page

.about {

  figure.team-foto {
    float: left;
    margin-right: 1em;
    margin-bottom: 2em;
    min-height: 100px;
    position: relative;
    border: 5px solid #dadada;

    img {
      width: 600px;
    }

    figcaption {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 5px;
      color: $white;
      background: rgba($black, 0.4);
      font-size: .85em;
      line-height: 1.3;
      font-weight: bold;

      small {
        display: block;
        font-size: .85em;
        color: #dadada;

        a {
          color: #dadada;
        }
      }
    }
  }

  .team-members {
      display: table;
      height: 100%;
      float: none;
      clear: both;
      margin-left: -0.5em;

    li {
      display: block;
      width: 400px;
      height: 220px;
      float: left;
      background: #fff;
      padding: 0.5em;
      margin: 0.5em;
    }
    span {
      font-size: 1.25em;
      font-weight: bold;
    }
  }

  .references {
    float: none;
    clear: both;
  }

}
