.alertify-logs {
  width: 50% !important;
  top: 0px !important;
  left: 25% !important;
  right: 25% !important;
  bottom: initial !important;
  height: 10px !important;
}

.alertify-log-success {
  background: #34a750 !important;
  background: rgba(52, 167, 80, 1) !important;
}

.alertify-log-error {
  background: #e85e15 !important;
  background: rgba(232, 94, 21, 1) !important;
}
