.messages {
  @include container;
  position: relative;
  top: 20px;
}

.alert-box {
  position: relative;
  padding: 5px 10px;
  color: $white;
  border-radius: 3px;
  background: $blue;

  &.alert {
    background: $red;
  }

  &.success {
    background: $green;
  }

  .home.map & {
    top: 170px;
    z-index: 1000;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: $white;
    font-size: 25px;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
  }
}

