// Susy presets
$total-columns: 12;
$column-width: 70px;
$gutter-width: 30px;
$grid-padding: $gutter-width;

// Applying "border-box" box-sizing model to every element on the page.
*, *:before, *:after {
  @include border-box-sizing;
}

body {
  font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 1.5;
  background: #253d4c; // $charcoal
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
}

h3, h4 {
  font-size: 16px;
}

nav {
  font-size: 14px;
}

.container {
  @include container;
  position: relative;
}

.button {
  display: inline-block;
  border-radius: 5px;
  background: #e85e15; // $orange
  padding: 15px 20px;
  font-size: 24px;
  box-shadow: 1px 1px 5px rgba(black, 0.3)
}

header {
  position: relative;
  height: 250px;
  margin-bottom: 250px;
  background: rgba(#253d4c, 0.65);

  // Map background:
  &:after {
    content: "";
    background: url(http://api.tiles.mapbox.com/v4/sjockers.hp1dl0nj/11.6,52.2,7/1280x500.jpg?access_token=pk.eyJ1Ijoic2pvY2tlcnMiLCJhIjoiNVB0SENnRSJ9.omgroLjwu0Wg-fw_1C5uuw);
    background-size: cover;
    opacity: 0.65;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
    position: absolute;
    z-index: -1;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .logo {
    display: inline-block;
    font-style: italic;
    position: relative;
    padding-top: 25px;
    letter-spacing: 1px;

    h1 {
      float: left;
      color: white;
      font-weight: normal;
      margin: 0;
      padding: 0;
      font-size: 46px;
      line-height: 1;
      font-style: italic;
      text-shadow: 2px 1px 5px rgba(black, 0.3)
    }

    b {
      float: left;
      color: #1fc848;
      padding-right: 5px;
    }

    &:after {
      content: "beta";
      display: inline-block;
      position: relative;
      top: 10px;
      left: 5px;
      color: white;
      background: rgba(darken(#253d4c, 5), 0.55);
      border-radius: 50%;
      width: 42px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      font-size: 12px;
    }
  }

  .claim {
    position: absolute;
    top: 125px;
    letter-spacing: 1px;
    text-shadow: 2px 1px 5px rgba(black, 0.3);
    font-size: 24px;
    font-weight: 300;
    color: white;
  }

  .call-to-action {
    position: absolute;
    top: 275px;
    left: $gutter-width;
    @extend .icon, .ss-map;

    &:before {
      transform: scale(1.5);
      left: .2em;
    }
  }
}

.user-nav {
  position: absolute;
  top: 15px;
  right: $gutter-width - 15px;

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    font-size: 16px;
    line-height: 1em;
    color: white;
    padding: 10px 15px;
  }

  .user-nav-contact a {
    @extend .icon, .ss-mail;
  }

  .user-nav-login a {
    @extend .icon, .ss-user;
    background: rgba(darken(#253d4c, 5), 0.55);
    border-radius: 5px;
  }
}

.main-nav {
  position: absolute;
  top: 470px;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    line-height: 1em;
    color: white;
    padding: 15px 15px 12px 15px;
    background: rgba(#253d4c, 0.65);
  }

  .active a {
    color: black;
    background: white;
    border-bottom: 2px solid white
  }

  .main-nav-home a {
    @extend .icon, .ss-home;

    &:before {
      transform: scale(1.5);
    }
  }
}

main {
  background: white;
  color: #253d4c; // $charcoal

  article {
    @include span-columns(8)
  }

  aside {
    @include span-columns(4 omega)
  }
}
