// Susy presets
$total-columns: 12;
$column-width: 65px;
$gutter-width: 25px;
$grid-padding: $gutter-width;

// Colors:
$lightGrey: #e7e7e7;
$grey: #909090;
$charcoal: #253d4c;
$orange: #e85e15;
$green: #1fc848;
$darkGreen: #34a750;
$beige: #f6f1e3;
$blue: #3e6889;

//alternative layout breakpoints
$mobile: 0 759px;
$tablet: 760px 12;
$desktop: 960px 12;

// Applying "border-box" box-sizing model to every element on the page.
*, *:before, *:after {
  @include border-box-sizing;
}

body {
  font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.5;
  background: #253d4c;
}

h1 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  color: $darkGreen;
}

h2 {
  font-size: 22px;
  margin: 0;
  padding: 2em 0 .5em;
}

h3, h4 {
  font-size: 16px;
}

nav {
  font-size: 14px;
}

a {
  color: $blue;

  &:hover,
  &:active,
  &:focus {
    color: darken($blue, 20);
  }
}

.container {
  @include container($total-columns, $tablet, $desktop);
  position: relative;
}

.content {
  padding: $gutter-width 0 0 0;
}

.modals {
  position: relative;
  z-index: 3;
}

main {
  background: white;
  color: $charcoal;
  position: relative;
  z-index: 1;
}

.home.index {
  .content p:first-of-type {
    font-weight: 500;
    font-style: italic;
  }

  .sidebar {
    @include bleed(1);
    background: $beige;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .info {
    padding: $gutter-width 0;
  }

  .button {
    display: inline-block;
    border-radius: 5px;
    padding: 15px 20px;
    background: $orange;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    box-shadow: 1px 1px 5px rgba(black, 0.3);
    transition: background-color 0.2s;

    &:hover,
    &:focus {
      background: darken($orange, 5);
    }
  }

  @include at-breakpoint($desktop) {
    .sidebar {
      @include bleed(0);
      margin-top: $gutter-width * 4;
    }

    .info {
      padding: 1em;
    }
  }
}

@include at-breakpoint($desktop) {

  .content {
    @include span-columns(8);
  }

  .sidebar {
    @include span-columns(4 omega);
  }

  h1 {
    font-size: 32px;
  }
}
