@font-face {
    font-family: 'Fira Sans';
    src: asset-url('FiraSans-Light/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
    asset-url('FiraSans-Light/FiraSans-Light.eot') format('embedded-opentype'),
    asset-url('FiraSans-Light/FiraSans-Light.woff') format('woff'),
    asset-url('FiraSans-Light/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: asset-url('FiraSans-Regular/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
    asset-url('FiraSans-Regular/FiraSans-Regular.eot') format('embedded-opentype'),
    asset-url('FiraSans-Regular/FiraSans-Regular.woff') format('woff'),
    asset-url('FiraSans-Regular/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: asset-url('FiraSans-Italic/FiraSans-Italic.eot');
    src: local('Fira Sans Regular Italic'),
    asset-url('FiraSans-Italic/FiraSans-Italic.eot') format('embedded-opentype'),
    asset-url('FiraSans-Italic/FiraSans-Italic.woff') format('woff'),
    asset-url('FiraSans-Italic/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: asset-url('FiraSans-Medium/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'),
    asset-url('FiraSans-Medium/FiraSans-Medium.eot') format('embedded-opentype'),
    asset-url('FiraSans-Medium/FiraSans-Medium.woff') format('woff'),
    asset-url('FiraSans-Medium/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: asset-url('FiraSans-Bold/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'),
    asset-url('FiraSans-Bold/FiraSans-Bold.eot') format('embedded-opentype'),
    asset-url('FiraSans-Bold/FiraSans-Bold.woff') format('woff'),
    asset-url('FiraSans-Bold/FiraSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: asset-url('FiraSans-BoldItalic/FiraSans-BoldItalic.eot');
    src: local('FiraSans-BoldItalic/Fira Sans Bold Italic'),
    asset-url('FiraSans-BoldItalic/FiraSans-BoldItalic.eot') format('embedded-opentype'),
    asset-url('FiraSans-BoldItalic/FiraSans-BoldItalic.woff') format('woff'),
    asset-url('FiraSans-BoldItalic/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
