header {
  position: relative;
  background: rgba($charcoal, 0.55);
  height: 100px;

  // Map background:
  body:not(.map) &:after {
    content: "";
    background: url(http://api.tiles.mapbox.com/v4/sjockers.hp1dl0nj/11.6,52.2,7/1280x150.jpg?access_token=pk.eyJ1Ijoic2pvY2tlcnMiLCJhIjoiNVB0SENnRSJ9.omgroLjwu0Wg-fw_1C5uuw);
    background-size: cover;
    opacity: 0.65;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    position: absolute;
    z-index: -1;
  }

  // Map background on homepage:
  .home:not(.map) & {
    margin-bottom: 110px;

    &:after {
      background: url(http://api.tiles.mapbox.com/v4/sjockers.hp1dl0nj/11.6,52.2,7/1280x500.jpg?access_token=pk.eyJ1Ijoic2pvY2tlcnMiLCJhIjoiNVB0SENnRSJ9.omgroLjwu0Wg-fw_1C5uuw);
      height: 500px;
    }
  }

  .map & {
    position: absolute;
    width: 100%;
    background: rgba($charcoal, 0.85);
  }

  @include at-breakpoint($mobile) {
    height: 75px;
    overflow: hidden;

    .map & {
      height: 75px
    }

    .home:not(.map) & {
      height: auto;
      overflow: visible;
    }
  }

  @include at-breakpoint($tablet) {
    height: 150px;

    .map & {
      height: 100px
    }

    .home:not(.map) & {
      height: 250px;
      margin-bottom: 250px;
    }
  }

}
