.entries-nav-list a {
  @extend .icon, .ss-list;
}

.entries-nav-new a {
  @extend .icon, .ss-plus;
}

.user-nav-account a {
  @extend .icon, .ss-settings;
}

.user-nav-signout a {
  @extend .icon, .ss-logout;
}

.user-nav-contact a {
  @extend .icon, .ss-mail;
}

.user-nav-main a {
  @extend .icon, .ss-user;
}

.page-nav-home a {
  @extend .icon, .ss-home;
}

.page-nav-map a {
  @extend .icon, .ss-map;
}

.navigation-switch {
  @extend .icon, .ss-rows;
  display: none; // hide element by default
  overflow: hidden; // hide text
  position: fixed;
  z-index: 10;
  top: 18px;
  right: 16px;
  padding-left: 10px;
  width: 36px;
  height: 34px;
  line-height: 35px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background: rgba(darken($charcoal, 5), 0.65);
  border-radius: 5px;
  text-align: center;
  transition: right 0.3s;

  &:hover,
  &:focus {
    color: white;
  }
}

@include at-breakpoint($mobile) {

  .navigation-switch {
    display: block;
  }

  .main-navigation {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 150%; // a little more to smoothen redrawing
    padding-top: 10px;
    background: $lightGrey;
    z-index: 3;
    transition: right 0.3s;
    overflow: scroll;

    nav {
      padding: 0 10px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
      padding: 0;
      margin: 0;
      border-top: 1px solid $grey;
    }

    a {
      display: block;
      padding: 10px;
      border-top: 1px solid $white;
      color: $charcoal;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
    }

    // Remove borders from leading nav items
    .page-nav-home,
    .page-nav-home > a,
    .user-nav-account {
      border-top: none;
    }

    // Hide nav items that toggle dropdowns
    // (dropdowns are always visible on mobile)
    .entries-nav-new,
    .user-nav-toggle {
      display: none;
    }
  }

  .show-navigation {
    overflow: hidden;

    // Overlay for modal window:
    &:after {
      content: '';
      z-index: 1;
      display: block;
      background: rgba($charcoal, 0.9);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 150%; // a little more to smoothen redrawing
    }

    .logo {
      opacity: 0;
      transition: opacity 0.3s;
    }

    .main-navigation {
      right: 0;
    }

    .navigation-switch {
      right: 268px;
    }
  }
}

@include at-breakpoint($tablet) {

  .main-navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    a {
      color: white;
      font-weight: bold;
      line-height: 1em;
      text-decoration: none;
    }

    ul {
      margin: 0;
      @include container;
    }

    li {
      display: inline-block;
    }

    .user-nav-main a {
      border-radius: 5px;
      background: rgba(darken($charcoal, 5), 0.55);
      transition: background-color 0.2s;

      &:hover,
      &:focus {
        text-decoration: none;
        background: rgba(darken($charcoal, 5), 0.9);
      }
    }

    .page-nav {
      position: relative;
      top: 110px;

      .home & {
        top: 460px;
      }

      .map & {
        position: fixed;
        z-index: 3;
        top: auto;
        bottom: -8px;
        left:5px;
        width: 100%;
      }

      a {
        display: block;
        line-height: 15px;
        padding: 15px;
        background: rgba($charcoal, 0.8);
        transition: background-color 0.2s;
        font-weight: bold;

        &:hover,
        &:focus {
          background: rgba($charcoal, 0.8);
        }

        &:before {
          transform: scale(1.2);
        }
      }

      .active a {
        color: $charcoal;
        background: white;
        box-shadow: 2px 2px 15px rgba(black, 0.4);
      }
    }

    .user-nav {
      width: 100%;
      position: absolute;
      top: 32px;

      // make sure links stay clickable despite the complex z-index stacking
      // that is in place in this component:
      pointer-events: none;

      a {
        pointer-events: auto;
        display: inline-block;
        padding: 10px 15px;
      }

      li {
        float: right;
        display: inline;
      }

      .map & {
        z-index: 2;
        position: fixed;
      }
    }

    .user-nav-settings {
      min-width: 160px;
      max-width: 240px;
      position: relative;
    }

    .user-nav-main {
      text-align: center;
    }

    .user-nav-dropdown {
      z-index: 1000;
    }

    .dropdown {
      position: absolute;
      display: none;
      left: 0;
      right: 0;
      margin: 20px 0;
      padding: 3px 0 0 0;
      background: $white;

      // tip
      &:before {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: -8px;
        margin-left: -10px;
        transform: rotate(45deg);
        background: $white;
        content: '';
      }

      &.open {
        display: block;
      }

      li {
        float: none;
        display: block;
        border-bottom: 1px solid $lightGray;
        position: relative;
        z-index: 1;
      }

      a {
        display: block;
        padding: 10px 15px;
        color: $charcoal;
        line-height: 1.6em;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  // TODO: Move entries navigation into a separate component
  // Figure out how to handle this on mobile
  .entries-nav {
    position: absolute;
    width: 350px;
    right: 0;
    top: 85px;

    ul {
      margin: 0;
      padding: 0;
    }

    .entries-nav-dropdown {
      width: 160px;
      left: 20px;
      top: 35px;
    }

    .entries-nav-item {
      background: $orange;
      display: inline-block;
      float: right;
      border-radius: 5px;
      margin-left: 15px;
      width: 160px;

      &:before {
        transform: scale(1.2);
        padding-right: 10px;
      }
    }
  }
}
