.reveal-modal-bg {
  background: rgba($charcoal, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.close-reveal-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 50px;
  line-height: 20px;
  height: 20px;
  cursor: pointer;
}

.tabs {
  margin-top: 20px;
  border-bottom: 5px solid $lightGrey;

  dd {
    margin: 15px 0;
    padding: 0;
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
    line-height: 1em;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s;
    color: $charcoal;

    &:hover,
    &:active {
      background: $lightGrey;
    }

    &.active {
      background: $grey;
      color: white;
    }
  }

}

.tabs-content {
  padding: 0;
  margin: 0;

  .tab-content {
    display: none;
  }

  .active  {
    display: block;
  }
}
