// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin_pagedown/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.wmd-panel {
  margin: 0px;
}

.wmd-preview {
  background-color: #eeeeee;
}

.wmd-button-bar {
  background-color: #eeeeee;
}

.wmd-input {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
}

.wmd-button > span {
  background-image: url(/assets/wmd-buttons.png);
}