// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {

  .top-bar {
    .button {
      margin: 0 10px;
    }
  }

  #map {
    .leaflet-popup-content-wrapper {
      -webkit-border-radius: 0 !important;
      border-radius: 0 !important;
    }
  }

  h3 {
    font-size: 1.4em;
    margin-bottom: .2em;
  }

  h4 {
    font-size: 1em;
    margin-bottom: .2em;
  }

}


