header {
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;

  .row {
    position: relative;
    z-index: 100;
  }

  .user-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  .action-menu {
    position: absolute;
    right: 0;
    bottom: -50px;

    li {
      float: left;
      margin: 0;
      list-style: none;
    }
  }
}
