Willkommen bei Ernte-Teilen, #{@user.name}!


Du hast dich erfolgreich mit deiner E-Mail-Adresse #{@user.email}
auf unserer Webseite www.ernte-teilen.org registriert. Damit du dich
dort anmelden kannst, bestätige bitte einmalig deine E-Mail-Adresse
mittels folgendem Link:


#{confirmation_url(@user, confirmation_token: @token)}


Viel Spass auf der Webseite und einen schönen Tag.

Dein Ernte-Teilen Team
