%h1
  Willkommen bei Ernte-Teilen, #{@user.name}!
%p
  Du hast dich erfolgreich mit deiner E-Mail-Adresse #{@user.email}
  auf unserer Webseite www.ernte-teilen.org registriert. Damit du dich
  dort anmelden kannst, bestätige bitte einmalig deine E-Mail-Adresse
  mittels folgendem Link:
%ul
  %li
    #{link_to 'E-Mail-Adresse bestätigen', confirmation_url(@user, confirmation_token: @token)}
%p
  Alternativ kannst du folgende Adresse in deinem Browser aufrufen:
%ul
  %li
    #{confirmation_url(@user, confirmation_token: @token)}
%p
  Viel Spass auf der Webseite und einen schönen Tag.
  %br/
  Dein Ernte-Teilen Team
