%p
  Hallo #{@resource.email}!
%p
  Jemand hat einen Link angefordert, um dein Passwort zu ändern. Klicke auf diesen Link, um dies zu tun:
%p
  = link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token)
%p
  Wenn du keinen Passwort-Wechsel angefordert hast, kannst du diese Email ignorieren.
%p
  Dein Passwort wird nur geändert, wenn du den obenstehenden Link anklickst.
