<div class="container">
  <footer class="page-footer">
    <%= "© 2012-#{Time.now.year}" %> — ernte-teilen.org
    <%= link_to t('nav.terms'), terms_path %> | <%= link_to t('nav.imprint'), contact_path %>
  </footer>
</div>

