<div class="main-navigation" id="navigation">
  <nav class="page-nav">
    <ul>
      <% @nav_items.each do |ni| %>
        <li class="<%= ni[:style] %>">
          <%= link_to t(ni[:title]), ni[:path] %>
        </li>
      <% end %>
    </ul>
  </nav>
  <nav class="user-nav">
    <ul>
      <li class="user-nav-contact">
        <%= link_to t('nav.contact'), contact_path %>
      </li>
    </ul>
  </nav>
</div>
