{% extends "./layouts/base.njk" %}

{% block body %}
<p class="lead">Es wurde ein neuer Eintrag angelegt.</p>
<spacer size="16"></spacer>

<callout class="secondary">
  <row>
    <columns>
      <p>
        <strong>User:</strong><br/>
        {{ user.name }} {{ user.email }}
      </p>
    </columns>
  </row>
  <row>
    <columns>
      <p>
        <strong>Eintrag:</strong><br/>
        <a href="{{ permalink }}" target="_blank"}>{{ entry.name }}</a>
      </p>
    </columns>
  </row>
</callout>

<spacer size="16"></spacer>
{% endblock %}


