name: Admin CI
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
on:
  push:
    branches-ignore:
      - dependabot/*
    paths:
      - 'packages/admin/**'
  workflow_dispatch:
env:
  HUSKY: 0
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.9.0'
      - name: Code linting
        working-directory: .
        run: |
          npm install 
          npm run lint
      - name: Install dependencies
        working-directory: ./packages/admin
        run: npm install --legacy-peer-deps
      - name: Run Tests
        working-directory: ./packages/admin
        run: npm test
  deploy-preview:
    runs-on: ubuntu-latest
    environment: preview
    needs: test
    if: github.ref == 'refs/heads/preview'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '20.9.0'
      - name: Install dependencies
        working-directory: ./packages/admin
        run: npm install --legacy-peer-deps
      - name: Deploy Preview
        uses: dokku/github-action@v1.0.1
        with:
          branch: main
          ci_branch_name: preview
          ssh_private_key: ${{ secrets.DOKKU_SSH_KEY }}
          git_remote_url: ssh://dokku@${{ secrets.DOKKU_HOST }}:22/teikei-admin-preview
  deploy-next:
    runs-on: ubuntu-latest
    environment: next
    needs: test
    if: github.ref == 'refs/heads/next'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '20.9.0'
      - name: Install dependencies
        working-directory: ./packages/admin
        run: npm install --legacy-peer-deps
      - name: Deploy Next
        uses: dokku/github-action@v1.0.1
        with:
          branch: next
          ci_branch_name: next
          ssh_private_key: ${{ secrets.DOKKU_SSH_KEY }}
          git_remote_url: ssh://dokku@${{ secrets.DOKKU_HOST }}:22/teikei-admin-next
  deploy-production:
    runs-on: ubuntu-latest
    environment: production
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '20.9.0'
      - name: Install dependencies
        working-directory: ./packages/admin
        run: npm install --legacy-peer-deps
      - name: Deploy Production
        uses: dokku/github-action@v1.0.1
        with:
          branch: main
          ci_branch_name: main
          ssh_private_key: ${{ secrets.DOKKU_SSH_KEY }}
          git_remote_url: ssh://dokku@${{ secrets.DOKKU_HOST }}:22/teikei-admin
