name: Map CI
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
on:
  push:
    branches-ignore:
      - dependabot/*
    paths:
      - "packages/map/**"
  workflow_dispatch:
env:
  HUSKY: 0
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18.12.1"
      - name: Notify slack success
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        id: slack
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: STARTED
          color: good
      - name: Install dependencies
        working-directory: ./packages/map
        run: NODE_ENV=development npm install --legacy-peer-deps
      - name: Code linting
        working-directory: ./packages/map
        run: npm run lint
      - name: Run Tests
        working-directory: ./packages/map
        run: npm test
      - name: Notify slack success
        if: success()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: SUCCESS
          color: good
          message_id: ${{ steps.slack.outputs.message_id }}
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: FAILED
          color: danger
          message_id: ${{ steps.slack.outputs.message_id }}
  webtests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18.12.1"
      - name: Install dependencies
        working-directory: ./packages/
        run: NODE_ENV=test npm install --legacy-peer-deps
      - name: Install Playwright
        working-directory: ./packages/map
        run: npx playwright install
      - name: Run Web Tests
        env:
          GEOCODER_APP_ID: ${{ secrets.GEOCODER_APP_ID }}
          GEOCODER_APP_CODE: ${{ secrets.GEOCODER_APP_CODE }}
        working-directory: ./packages/
        run: npm run webtests
  deploy-preview:
    runs-on: ubuntu-latest
    environment: preview
    needs: [test, webtests]
    if: github.ref == 'refs/heads/preview'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: "18.12.1"
      - name: Notify slack started
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        id: slack
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: STARTED
          color: good
      - name: Install dependencies
        working-directory: ./packages/map
        run: npm install --legacy-peer-deps
      - name: Deploy Preview
        uses: dokku/github-action@v1.0.1
        with:
          branch: main
          ci_branch_name: preview
          ssh_private_key: ${{ secrets.DOKKU_SSH_KEY }}
          git_remote_url: ssh://dokku@${{ secrets.DOKKU_HOST }}:22/teikei-map-preview
      - name: Notify slack success
        if: success()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: SUCCESS
          color: good
          message_id: ${{ steps.slack.outputs.message_id }}
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: FAILED
          color: danger
          message_id: ${{ steps.slack.outputs.message_id }}
  deploy-production:
    runs-on: ubuntu-latest
    environment: production
    needs: [test, webtests]
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: "18.12.1"
      - name: Notify slack started
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        id: slack
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: STARTED
          color: good
      - name: Install dependencies
        working-directory: ./packages/map
        run: npm install --legacy-peer-deps
      - name: Deploy Production
        uses: dokku/github-action@v1.0.1
        with:
          branch: main
          ci_branch_name: main
          ssh_private_key: ${{ secrets.DOKKU_SSH_KEY }}
          git_remote_url: ssh://dokku@${{ secrets.DOKKU_HOST }}:22/teikei-map
      - name: Notify slack success
        if: success()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: SUCCESS
          color: good
          message_id: ${{ steps.slack.outputs.message_id }}
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: FAILED
          color: danger
          message_id: ${{ steps.slack.outputs.message_id }}
