name: Map CI
concurrency: ci-${{ github.ref }}
on:
  push:
    branches-ignore:
      - dependabot/*
    paths:
      - "map/**"
  workflow_dispatch:
env:
  HUSKY: 0
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: "14"
      - name: Notify slack success
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        id: slack
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: STARTED
          color: good
      - name: Install dependencies
        working-directory: ./map
        run: NODE_ENV=development npm install
      - name: Code linting
        working-directory: ./map
        run: npm run lint
      - name: Run Tests
        working-directory: ./map
        run: npm test
      - name: Notify slack success
        if: success()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: SUCCESS
          color: good
          message_id: ${{ steps.slack.outputs.message_id }}
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: FAILED
          color: danger
          message_id: ${{ steps.slack.outputs.message_id }}
  webtests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: "14"
      - name: Install yarn
        run: npm -g install yarn
      - name: Install dependencies
        working-directory: ./
        run: NODE_ENV=test yarn install
      - name: Install Playwright
        working-directory: ./map
        run: npx playwright install
      - name: Run Web Tests
        env:
          GEOCODER_APP_ID: ${{ secrets.GEOCODER_APP_ID }}
          GEOCODER_APP_CODE: ${{ secrets.GEOCODER_APP_CODE }}
        working-directory: ./
        run: yarn webtests
  deploy-preview:
    runs-on: ubuntu-latest
    environment: preview
    needs: [test, webtests]
    if: github.ref == 'refs/heads/preview'
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: "14"
      - name: Notify slack started
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        id: slack
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: STARTED
          color: good
      - name: Install dependencies
        working-directory: ./api
        run: npm install
      - name: Deploy Preview
        uses: dokku/github-action@v1.0.1
        with:
          branch: master
          ci_branch_name: preview
          ssh_private_key: ${{ secrets.DOKKU_SSH_KEY }}
          git_remote_url: ssh://dokku@${{ secrets.DOKKU_HOST }}:22/teikei-map-preview
      - name: Notify slack success
        if: success()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: SUCCESS
          color: good
          message_id: ${{ steps.slack.outputs.message_id }}
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: FAILED
          color: danger
          message_id: ${{ steps.slack.outputs.message_id }}
  deploy-production:
    runs-on: ubuntu-latest
    environment: production
    needs: [test, webtests]
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: "14"
      - name: Notify slack started
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        id: slack
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: STARTED
          color: good
      - name: Install dependencies
        working-directory: ./map
        run: npm install
      - name: Deploy Production
        uses: dokku/github-action@v1.0.1
        with:
          branch: master
          ci_branch_name: master
          ssh_private_key: ${{ secrets.DOKKU_SSH_KEY }}
          git_remote_url: ssh://dokku@${{ secrets.DOKKU_HOST }}:22/teikei-map
      - name: Notify slack success
        if: success()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: SUCCESS
          color: good
          message_id: ${{ steps.slack.outputs.message_id }}
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: teikei-notifications
          status: FAILED
          color: danger
          message_id: ${{ steps.slack.outputs.message_id }}
